.about {
   margin-bottom: 19.9rem;
   &__inner {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding: 0 1rem;
   }
   &__sliders {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 72rem;
      overflow: hidden;
      &-small {
         width: 20.1rem;
         height: 20.2rem;
         margin-right: 4rem;
         &-img {
            width: 100%;
            height: 100%;
            & img {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
      }
      &-big {
         width: 47.9rem;
         height: 45.3rem;
         &-img {
            width: 100%;
            height: 100%;
            & img {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
      }
   }
   &__slide {
      margin: 0;
      &-left {
         display: flex;
         align-items: flex-end;
      }
   }
   &__container {
      width: 64rem;
      padding-left: 8rem;
      &-subtitle {
         margin-bottom: 1.3rem;
      }
      &-title {
         margin-bottom: 3rem;
      }
      &-text {
         font-family: "MyriadPro";
         font-size: 1.8rem;
         line-height: 133%;
         color: rgba(51, 51, 51, 0.5);
         width: 80%;
      }
   }
   &-btn-prev {
      position: absolute;
      top: unset;
      left: unset;
      right: 58rem;
      bottom: -3.5rem;
      &-btm {
         bottom: 0rem;
      }
   }
   &-btn-next {
      position: absolute;
      top: unset;
      left: unset;
      right: 51rem;
      bottom: -3.5rem;
      &-btm {
         bottom: 0rem;
      }
   }
   &-swiper{
      &-pagination {
         right: unset;
         left: 5rem;
         top: 0rem;
         .swiper-pagination {
            &-total {
               font-weight: 400;
               font-size: 2rem;
               color: rgba(51, 51, 51, 0.5);
            }
            &-current {
               font-weight: 700;
               font-size: 3rem;
               color: $blue;
            }
         }
      }
      &-slide {
         width: 100%;
         display: flex;
      }
   }
}

@media (max-width: 48em) {
   .about {
      margin-bottom: 20rem;
      &__inner {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         position: relative;
         padding: 0 1rem;
      }
      &__sliders {
         display: flex;
         justify-content: space-between;
         align-items: flex-end;
         width: 100%;
         overflow: hidden;
         &-small {
            display: none;
         }
         &-big {
            width: 100%;
            height: 63.2rem;
            &-img {
               width: 100%;
               height: 100%;
               & img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
               }
            }
         }
      }
      &__slide {
         margin: 0;
         &-left {
            display: flex;
            align-items: flex-end;
         }
      }
      &__container {
         width: 100%;
         padding-left: 0;
         padding-bottom: 19.6rem;
         &-subtitle {
            margin-bottom: 1.3rem;
         }
         &-title {
            margin-bottom: 3rem;
         }
         &-text {
            font-size: 3rem;
            line-height: 150%;
            width: 100%;
         }
      }
      &-btn-prev {
         position: absolute;
         top: 44.4rem;
         left: unset;
         right: 58rem;
         bottom: unset;
      }
      &-btn-next {
         position: absolute;
         top: 44.4rem;
         left: unset;
         right: 0;
         bottom: unset;
      }
      &-swiper{
         &-pagination {
            width: 100%;
            left: 50%;
            top: 48rem;
         }
         &-slide {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
         }
      }
   }
}