.about-the-s {
    margin-bottom: 18rem;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color:  rgba(51, 51, 51, 0.50);
        margin-bottom: 1.9rem;
        font-family: 'Myriad Pro',sans-serif;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    &__left {
        width: 45.3rem;

    }
    &__right {
        max-width: 94.6rem;
    }

    &__item {
        height: 6.3rem;
        color:  rgba(51, 51, 51, 0.50);
        font-family: 'Myriad Pro',sans-serif;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        display: block;
        border-bottom: 0.1rem solid #D8DDE4;
        padding: 2rem;
        cursor: pointer;
        position: relative;
        transition:  0.3s ease;
        &::before {
            position: absolute;
            content:'';
            width: 1.2rem;
            height: 1.2rem;
            background-image: url(../img/d-image/icon/blackarrow-prev.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            top: 50%;
            right: 2rem;
            transform: translate(0, -50%);
        }
    }

    &__item.active {
        border-radius: 0px 1rem 1rem 0px;
        background: #EEF3F7;
        border-bottom: none;
        transition:  0.3s ease;
        color:#36B4F1;
        font-weight: 600;
    }

    &__content {
        display: none;
    }

    &__content.active {
        display: block;
    }

    &__content {
        h3 {
            color:  #2F2F2F;
            margin-bottom: 2rem;
            font-family: 'Montserrat',sans-serif;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }

        p {
            color:  rgba(51, 51, 51, 0.50);
            font-family: 'Myriad Pro',sans-serif;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            margin-bottom: 2rem;
        }

        p:last-child {
            margin-bottom: 0;
        }

        ul {
            margin-bottom: 4rem;
            display: flex;
            flex-direction: column;
        }

        ul:last-child {
            margin-bottom: 0;
        }

        li {
            color: rgba(51, 51, 51, 0.50);
            margin-bottom: 2rem;
            font-family: 'Myriad Pro',sans-serif;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: block;
            position: relative;
            padding-left: 3.6rem;
            &::before {
                position: absolute;
                content:'';
                left: 0;
                width: 2rem;
                height: 1.7rem;
                background-image: url(../img/d-image/icon/galkagrey.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        }
    }
}


@media (max-width: 48em) { 

    .about-the-s {
        &__wrapper {
            flex-direction: column;
        }

        &__sidebar-wrapper {
            justify-content: initial;
			align-items: initial;
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;
            margin-bottom: 6rem;
            padding-bottom: 2rem;
        }

        &__sidebar-wrapper::-webkit-scrollbar {
            display: none;
        }

        &__left {
            width: 100%;
        }

        &__title {
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 143.75%;
            margin-bottom: 4rem;
        }

     

        &__sidebar {
			display: flex;
			width: 100%;
			border-bottom: 0.3rem solid #a0a1a4;
            padding-bottom: 0;
		}

	

        &__item {
            border: none;
            height: auto;
            padding: 0;
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 200%;
            margin-right: 4rem;
           padding-bottom: 2rem;
            &::before {
                display: none;
            }
        }

        &__item.active {
            background: none;
            font-weight: 400;
            &::after {
                content:'';
                position: absolute;
                width: 100%;
                height: 0.4rem;
                background: #36B4F1;
                bottom: -0.2rem;
                z-index: 2;
                left: 0;
            }
        }

        &__right {
            width: 100%;
        }

        &__content {
            h3 {
                font-size: 5.4rem;
                font-style: normal;
                font-weight: 400;
                line-height: 125.926%;
                margin-bottom: 6rem;
            }

            p {
               
                font-size: 3.2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                margin-bottom: 4rem;
            }

            li {
                font-size: 3.2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                &::before {
                    width: 2rem;
                    height: 2.7rem;
                }
            }
        }
    }

}