.all-news {
   margin-bottom: 18rem;
   &__inner {
      position: relative;
      display: flex;
      justify-content: space-between;
   }
   &__wrapper {
      display: flex;
      justify-content: space-between;
   }
   &__items {
      width: 65.8%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   &__item {
      width: 48%;
      box-shadow: 0px 2rem 6rem rgba(124, 148, 159, 0.1);
      margin-bottom: 4rem;
      position: relative;
      min-height: 65.9rem;
      &-img {
         width: 100%;
         height: 30.1rem;
         position: relative;
         margin-bottom: 7.5rem;
         & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
         &-add {
            position: absolute;
            left: 3rem;
            bottom: 3rem;
            font-family: "MyriadPro";
            font-size: 1.6rem;
            line-height: 119%;
            padding: 0.7rem 2.4rem;
            background: $white;
            border-radius: 1rem;
         }
      }
      &-title {
         font-family: "Montserrat";
         font-size: 2.5rem;
         line-height: 128%;
         color: #2F2F2F;
         margin-bottom: 1.5rem;
         margin-left: 3rem;
         width: 85%;
         & span {
            color: $blue;
         }
      }
      &-text {
         font-family: "Montserrat";
         font-size: 1.8rem;
         line-height: 150%;
         color: rgba(51, 51, 51, 0.5);
         margin-left: 3rem;
         width: 90%;
         margin-bottom: 7rem;
      }
      &-link {
         position: absolute;
         left: 3rem;
         bottom: 4rem;
      }
      &-alls {
         margin-top: 2rem;
         padding-right: 2.5rem;
         &::after {
            transform: translateY(-50%) rotate(90deg);
         }
      }
   }
   &__right {
      width: 31.4%;
      &-options {
         background: #EEF3F7;
         padding: 2.5rem 3rem 2rem 3rem;
         margin-bottom: 4rem;
         &-title {
            font-family: "Montserrat";
            font-size: 2.5rem;
            line-height: 160%;
            margin-bottom: 4.8rem;
            position: relative;
            &::after {
               position: absolute;
               content: '';
               left: 0rem;
               bottom: -2rem;
               width: 100%;
               height: 1px;
               background-color: #D8DDE4;
            }
         }
         &-btns {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            &-btn {
               font-family: "Montserrat";
               font-size: 1.8rem;
               line-height: 150%;
               color: rgba(51, 51, 51, 0.5);
               padding: 1rem 2.5rem 1rem 2.2rem;
               border: 1px solid #D8DDE4;
               border-radius: 1rem;
               background-color: $white;
               margin-right: 1rem;
               margin-bottom: 0.9rem;
               cursor: pointer;
               &.active {
                  color: #FE7200;
                  font-weight: 600;
               }
               &:nth-child(2) {
                  margin-right: 0;
               }
            }
         }
      }
      &-distribution {
         background: linear-gradient(180deg, #5FCBFF 0%, #36B4F1 100%);
         padding: 5rem;
         padding-bottom: 6rem;
         position: relative;
         overflow: hidden;
         &.circle {
            &::after {
               right: -21rem;
               background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -5%, rgba(255, 255, 255, 0) 50%), rgba(255, 255, 255, 0.04);
               opacity: 0.4;
               border: 1px solid rgba(255, 255, 255, 0.4);
            }
            &::before {
               left: unset;
               right: 0.5rem;
               bottom: -15.5rem;
               background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -5%, rgba(255, 255, 255, 0) 50%), rgba(255, 255, 255, 0.04);
               opacity: 0.4;
               border: 1px solid rgba(255, 255, 255, 0.4);
            }
         }
         &-title {
            font-family: "Montserrat";
            font-weight: 600;
            font-size: 2.5rem;
            line-height: 160%;
            color: $white;
            margin-bottom: 1rem;
         }
         &-text {
            font-family: "Montserrat";
            font-size: 1.8rem;
            line-height: 150%;
            color: $white;
            margin-bottom: 4rem;
         }
         &-form {
            position: relative;
            z-index: 2;
            &-label1 {
               display: block;
               position: relative;
               margin-bottom: 2rem;
               & input {
                  outline: none;
                  border: 1px solid $white;
                  border-radius: 10rem;
                  font-family: "MyriadPro";
                  font-size: 1.8rem;
                  line-height: 200%;
                  width: 100%;
                  background-color: transparent;
                  color: $white;
                  height: 5.5rem;
                  padding-left: 7.1rem;
                  &::placeholder {
                     font-family: "MyriadPro";
                     font-size: 1.8rem;
                     line-height: 200%;
                     color: $white;
                  }
               }
               &::after {
                  position: absolute;
                  content: '';
                  left: 3rem;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 2.4rem;
                  height: 2.4rem;
                  background-image: url(../img/icons/mail-white.png);
                  background-position: center;
                  background-size: contain;
                  background-repeat: no-repeat;
               }
            }
            & button {
               background: $white;
               border-radius: 10rem;
               outline: none;
               padding: 1rem 12.6rem;
               font-family: "MyriadPro";
               font-size: 1.8rem;
               line-height: 200%;
               color: $blue;
               margin-bottom: 2.5rem;
            }
            &-label2 {
               display: flex;
               align-items: center;
               cursor: pointer;
               & input {
                  display: none;
               }
               & .fake3 {
                  width: 1.5rem;
                  height: 1.5rem;
                  border-radius: 50%;
                  border: 1px solid #FFFFFF;
                  display: inline-block;
                  position: relative;
                  margin-top: -2rem;
                  &::before {
                     content: '';
                     position: absolute;
                     width: 100%;
                     height: 100%;
                     left: 50%;
                     top: 50%;
                     transform: translate(-50%,-50%);
                     opacity: 0;
                     transition: 0.2s;
                     background-color: $white;
                     border-radius: 50%;
                     display: block;
                  }
               }
               & input:checked + .fake3::before {
                  opacity: 1;
               }
               & .text3 {
                  font-family: "MyriadPro";
                  font-size: 1.6rem;
                  line-height: 125%;
                  color: $white;
                  width: 90%;
                  padding-left: 1.4rem;
               }
            }
         }
      }
   }
   &.all-news-new {
      margin-bottom: 13.8rem;
      .all-news {
         &__inner {
            display: block;
         }
         &__subtitle {
            margin-bottom: 1.5rem;
         }
         &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 4.5rem;
         }
         &__items {
            width: 100%;
            justify-content: flex-start;
         }
         &__item {
            width: 31.48%;
            &:not(:nth-child(3n+3)) {
               margin-right: 4rem;
            }
         }
      }
   }
   &.all-news-akcii {
      .all-news {
         &__inner {
            display: block;
         }
         &__header {
            margin-bottom: 5.8rem;
         }
         &__items {
            width: 100%;
            justify-content: unset;
         }
         &__item {
            width: 31.48%;
            margin-right: 4rem;
            min-height: 62.9rem;
            margin-bottom: 3.9rem;
            &:nth-child(3n+3) {
               margin-right: 0;
            }
            &-img {
               margin-bottom: 3rem;
            }
            &-title {
               margin-bottom: 2rem;
            }
            &-alls {
               margin-top: 1rem;
            }
         }
      }
   }
   &.all-news-vse-stati {
      .all-news {
         &__inner {
            display: block;
         }
         &__items {
            justify-content: flex-start;
            width: 100%;
         }
         &__item {
            width: 31.48%;
            margin-right: 4rem;
            padding-bottom: 9rem;
            min-height: auto;
            margin-bottom: 4.1rem;
            &:nth-child(3n+3) {
               margin-right: 0;
            }
            &-img {
               margin-bottom: 3.8rem;
               position: relative;
               &::after {
                  position: absolute;
                  content: '';
                  left: -0.1rem;
                  bottom: -16rem;
                  width: 100%;
                  height: 20.1rem;
                  background-image: url(../img/icons/bg-vse-stati.png);
                  background-position: center;
                  background-size: contain;
                  background-repeat: no-repeat;
               }
               &-add {
                  z-index: 5;
                  left: 2.9rem;
                  bottom: -0.2rem;
                  padding: 0;
                  background-color: transparent;
                  border-radius: 0;
                  font-family: "MyriadPro";
                  font-size: 1.6rem;
                  line-height: 119%;
                  color: $blue;
               }
            }
            &-title {
               margin-bottom: 1.2rem;
               position: relative;
               z-index: 10;
            }
            &-text {
               position: relative;
               z-index: 10;
               margin-bottom: 3rem;
            }
            &-author {
               display: flex;
               align-items: center;
               margin-left: 3rem;
               position: relative;
               z-index: 10;
               &-img {
                  width: 8.1rem;
                  height: 8.1rem;
                  background-color: #EEF3F7;
                  border-radius: 50%;
                  margin-right: 3rem;
                  & img {
                     width: 100%;
                     height: 100%;
                     object-fit: contain;
                     border-radius: 50%;
                  }
               }
               &-name {
                  font-family: "MyriadPro";
                  font-size: 1.8rem;
                  line-height: 122%;
                  color: rgba(51, 51, 51, 0.5);
                  & span {
                     display: block;
                     margin-top: 0.5rem;
                     color: $fzAll;
                  }
               }
            }
            &-link {
               left: unset;
               right: 3rem;
               bottom: 3.5rem;
            }
            &-alls {
               margin-top: 0.9rem;
            }
         }
      }
   }
   &.all-news-statia {
      margin-bottom: 4rem;
      .all-news {
         &__subtitle {
            margin-bottom: 1.6rem;
         }
         &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5.5rem;
         }
      }
   }
}


@media (max-width: 48em) {
   .all-news {
      margin-bottom: 109rem;
      &__inner {
         flex-direction: column-reverse;
      }
      &__right {
         width: 100%;
         margin-bottom: 10rem;
         &-options {
            padding: 4rem 4rem 2rem 4rem;
            &-title {
               font-size: 3.6rem;
               margin-bottom: 6.8rem;
               &::after {
                  bottom: -3rem;
               }
            }
            &-btns {
               &-btn {
                  border-radius: 2rem;
                  padding: 2rem 2.8rem 2rem 3rem;
                  font-size: 3rem;
                  margin-right: 1.7rem;
                  margin-bottom: 1.7rem;
               }
            }
         }
         &-distribution {
            position: absolute;
            overflow: hidden;
            left: 0rem;
            bottom: -89.3rem;
            padding: 4rem;
            width: 100%;
            padding-top: 5.5rem;
            padding-bottom: 6rem;
            &.circle {
               &::after {
                  right: -30rem;
                  bottom: unset;
                  top: -24rem;
                  width: 43rem;
                  height: 43rem;
                  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -5%, rgba(255, 255, 255, 0) 50%), rgba(255, 255, 255, 0.04);
                  opacity: 0.4;
                  border: 1px solid rgba(255, 255, 255, 0.4);
               }
               &::before {
                  left: unset;
                  right: -27rem;
                  bottom: -27rem;
                  width: 46rem;
                  height: 46rem;
                  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -5%, rgba(255, 255, 255, 0) 50%), rgba(255, 255, 255, 0.04);
                  opacity: 0.4;
                  border: 1px solid rgba(255, 255, 255, 0.4);
               }
            }
            &-title {
               font-size: 3.6rem;
               margin-bottom: 3rem;
            }
            &-text {
               font-size: 3rem;
               line-height: 155%;
               margin-bottom: 5rem;
            }
            &-form {
               &-label1 {
                  margin-bottom: 3rem;
                  & input {
                     height: 9.5rem;
                     padding-left: 12rem;
                     font-size: 3rem;
                     &::placeholder {
                        font-size: 3rem;
                     }
                  }
                  &::after {
                     width: 3.5rem;
                     height: 3.2rem;
                     left: 6rem;
                  } 
               }
               & button {
                  height: 9rem;
                  width: 100%;
                  font-size: 3rem;
                  text-align: center;
                  margin-bottom: 4.7rem;
               }
               &-label2 {
                  & .fake3 {
                     margin-top: -5rem;
                     &::after {
                        width: 2rem;
                        height: 2rem;
                     }
                  }
                  & .text3 {
                     font-size: 3rem;
                     width: 100%;
                     padding-left: 2rem;
                     line-height: 150%;
                  }
               }
            }
         }
      }
      &__items {
         width: 100%;
         display: block;
      }
      &__item {
         width: 100%;
         height: 107.2rem;
         &-img {
            height: 44.5rem;
            margin-bottom: 4rem;
            &-add {
               padding: 1rem 3rem;
               font-size: 3rem;
            }
         }
         &-data {
            font-family: "Montserrat";
            font-size: 3rem;
            line-height: 150%;
            color: rgba(51, 51, 51, 0.5);
            margin-bottom: 3.5rem;
            margin-left: 4rem;
         }
         &-title {
            margin-left: 0rem;
            font-size: 3.6rem;
            width: auto;
            line-height: 150%;
            margin-bottom: 3.5rem;
            padding-right: 4rem;
            padding-left: 4rem;
         }
         &-text {
            margin-left: 4rem;
            font-size: 3rem;
            width: 88%;
         }
         &-link {
            left: 5.5rem;
            bottom: 6rem;
         }
         &-alls {
            display: inline-block;
            margin-top: 4rem;
         }
      }
      &.all-news-new {
         margin-bottom: 20rem;
         overflow: hidden;
         .all-news {
            &__right-distribution {
               position: relative;
               bottom: 0;
            }
            &__inner {
               display: block;
            }
            &__subtitle {
               margin-bottom: 3.5rem;
            }
            &__header {
               display: block;
               margin-bottom: 9rem;
               &-link {
                  display: none;
               }
            }
            &__items {
               width: 100%;
               margin-bottom: 20rem;
               &-more {
                  display: inline-block;
                  margin-top: 4rem;
               }
            }
            &__item {
               width: 100%;
               &:not(:nth-child(3n+3)) {
                  margin-right: 0rem;
               }
            }
         }
      }
      &.all-news-akcii {
         margin-bottom: 16.9rem;
         .all-news {
            &__items-more {
               display: none;
            }
            &__right-distribution {
               display: none;
            }
            &__item {
               margin-bottom: 5rem;
               width: 100%;
               height: auto;
               min-height: auto;
               padding-bottom: 3.5rem;
            }
            &__subtitle {
               margin-bottom: 0.9rem;
            }
            &__header {
               margin-bottom: 5.2rem;
               font-size: 4.7rem;
            }
            &__item-img {
               margin-bottom: 3.5rem;
               height: 37.8rem;
            }
            &__item-title {
               padding-right: 3.5rem;
               padding-left: 3.5rem;
            }
            &__item-text {
               margin-right: 3.5rem;
               margin-left: 3.5rem;
               margin-bottom: 12.6rem;
            }
            &__item-link {
               position: relative;
               bottom: 0;
               left: 0;
               margin-right: 3.5rem;
               margin-left: 3.5rem;
               display: flex;
               align-items: center;
               column-gap: 2rem;
               &::after {
                  position: static;
                  width: 1rem;
                  height: 2rem;
                  transform: none;
               }
            }
         }
      }
   }
}
@media (min-width: 48em) {
   .all-news {
      &.all-news-akcii {
         .all-news {
            &__slider-control {
               display: none;
            }
         }
      }
   }
}