.blog-card {
  width: 46rem;
  height: auto;
  box-shadow: 0 2rem 6rem 0 rgba(124, 148, 159, 0.10);

  &__image-wrap {
    height: 30rem;
    position: relative;
    z-index: -2;

    img {
      height: 100%;
    }
  }

  &__text-wrap {
    padding: 4rem 3rem;
    background: $white;
    min-height: 40.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2rem;
    position: relative;
  }

  &__heading {
    margin-bottom: 1rem;
    font-weight: 400;
    line-height: 130%;
  }

  &__text {
    color: $list;
    font-family: Montserrat, sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 3rem;
  }

  &__author {
    display: flex;
    align-items: center;
    column-gap: 3rem;
  }

  &__author-text {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  &__author-title {
    color: $list;
    font-family: Myriad Pro, sans-serif;
    font-size: 1.8rem;
    line-height: normal;
  }

  &__author-img {
    filter: drop-shadow(0 1.7rem 1.4rem rgba(24, 104, 109, 0.07));
    background: #EEF3F7;
    width: 8.1rem;
    height: 8.1rem;
    border-radius: 50%;
    position: relative;
    display: flex;
    overflow: hidden;

    img {
      position: relative;
      top: 0.5rem;
    }
  }

  &__author-name {
    color: $fzAll;
    font-family: Myriad Pro, sans-serif;
    font-size: 1.8rem;
    line-height: normal;
  }

  &__link {
    width: 100%;
    justify-content: flex-end;
  }

  &__image-bg {
    height: 20rem;
    width: 100%;
    left: -0.1rem;
    position: absolute;
    z-index: -2;
    top: -3.75rem;

    p {
      color: $blue;
      font-family: Myriad Pro, sans-serif;
      font-size: 1.6rem;
      line-height: normal;
      padding: 2.2rem 0 0 3rem;
      position: absolute;
      top: 0rem;
    }
  }
}

@media screen and (max-width: 48em) {
  .blog-card {
      width: 100%;

      &__image-wrap {
        height: 44rem;
      }
  
      &__text-wrap {
        padding: 4rem 4rem 6rem 4rem;
        min-height: 67rem;
        row-gap: 4rem;
      }
  
      &__heading {
        margin-bottom: 3rem;
        line-height: 150%;
      }
  
      &__text {
        font-size: 3rem;
        margin-bottom: 4rem;
      }
  
      &__author {
        column-gap: 3.2rem;
      }
  
      &__author-text {
        row-gap: 1rem;
      }
  
      &__author-title {
        font-size: 3rem;
      }
  
      &__author-img {
        width: 12rem;
        height: 12rem;
  
        img {
          position: relative;
          top: 1rem;
        }
      }
  
      &__author-name {
        font-size: 3.2rem;
        line-height: normal;
      }
  
      &__link {
        justify-content: flex-start;
      }
  
      &__image-bg {
        height: 30rem;
        top: -5.4rem;
  
        p {
          font-size: 3rem;
          line-height: 150%;
          padding: 1.2rem 0 0 4rem;
        }
      }
    }
}