.blog-search {

  background: $white;
  box-shadow: 0 2rem 4rem 0 rgba(124, 148, 159, 0.10);
  margin-bottom: 7rem;

  &__container {
    display: flex;
    column-gap: 5.5rem;
    align-items: center;
  }

  &__menu {
    display: flex;
    column-gap: 2rem;
    align-items: center;

    button{
      color: $fzAll;
      font-family: Golos, sans-serif;
      font-size: 1.3rem;
      font-weight: 500;
      text-transform: uppercase;
      padding: 4rem 1rem;
      border-bottom: 0.2rem solid transparent;

      &.active {
        border-color: $blue;
      }
    }
  }

    &__form-label {
      position: relative;
      height: fit-content;
      display: block;
      height: 4rem;
  
      &::before {
        position: absolute;
        content: '';
        width: 2rem;
        height: 2rem;
        background-image: url('../img/a-image/icons/search.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: 50%;
        transform: translate(0, -50%);
        left: 1.1rem;
      }
  
      input {
        width: 45rem;
        height: 100%;
        border-radius: 1rem;
        border: 0.1rem solid rgba(47, 47, 47, 0.35);
        background: #FFF;
        padding-left: 4.5rem;
  
        color: rgba(47, 47, 47, 0.35);
        font-family: 'Myriad Pro', sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
}

@media screen and (max-width: 48em) {
  .blog-search {
      margin-bottom: 20rem;

      .container {
        padding: 0;
      }
  
      &__container {
        row-gap: 4rem;
        align-items: flex-start;
        flex-direction: column;
        padding: 3.8rem 0 4.8rem 0;
      }
  
      &__menu {
        column-gap: 1.2rem;
        overflow-x: scroll;
        width: 100%;
        padding: 0 4rem;

        &::-webkit-scrollbar {
          display: none;
        }
  
        button {
          text-align: center;
          font-family: Myriad Pro, sans-serif;
          font-size: 2.4rem;
          padding: 0.8rem 0.6rem;
          flex-shrink: 0;
          border-width: 0.4rem;
        }
      }

      &__form {
        padding: 0 4rem;
        width: 100%;
      }
  
      &__form-label {
        height: 8rem;
        width: 100%;
  
        &::before {
          width: 4.8rem;
          height: 4.8rem;
          left: 3.8rem;
        }
  
        input {
          width: 100%;
          height: 100%;
          border-radius: 4rem;
          padding-left: 11.8rem;
          padding-top: 1.6rem;
          padding-bottom: 1.6rem;
  
          color: rgba(47, 47, 47, 0.35);
          font-size: 3rem;
          line-height: 160%;
        }
      }
    }
}