.centers {
  position: relative;
  margin-bottom: 18rem;
  &-prices-detailed {
    .centers {
      &__subtitle {
        text-transform: none;
      }
      &__title {
        margin-bottom: 3rem;
      }
    }
  }
  &__subtitle {
    margin-bottom: 0.8rem;
    text-transform: uppercase;
  }
  &__title {
    margin-bottom: 6.9rem;
  }
  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 59.2%;
    min-height: 65rem;
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: calc((100vw - 100%) / -2);
      top: 0;
      width: calc((100vw - 100% / 2) + 100%);
      height: 100%;
      background-color: #eef3f7;
    }
  }
  &-filter {
    position: relative;
    padding: 9.5rem 0;
    display: flex;
    align-items: center;
    width: 45%;
    &-left {
      padding: 5rem 0;
      align-items: flex-start;
    }
    &::after {
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      width: 0.3rem;
      height: 100%;
      background-color: $white;
    }
    &__dropdown {
      display: none;
    }
    &__item {
      font-family: 'Montserrat';
      font-size: 1.8rem;
      line-height: 222%;
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 1.1rem;
      }
      &.active {
        font-weight: 600;
        font-size: 2rem;
        line-height: 140%;
        color: $blue;
      }
    }
    &-list {
      display: flex;
      flex-direction: column;
      &__item {
        display: inline-flex;
        align-items: center;
        padding: 0.8rem 2.9rem;
        border-radius: 100rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 4rem;
        color: #2f2f2f;
        margin-bottom: 2.2rem;
        &.active {
          color: #36b4f1;
          background: #ffffff;

          .centers-filter-list__item-img {
            background-image: url(../img/a-image/icons/map-blue.svg);
          }
        }

        &-txt {
          display: none;
        }
        &-img {
          margin-right: 1rem;
          width: 3rem;
          height: 3rem;
          background-image: url(../img/a-image/icons/map-grey.svg);
          background-repeat: no-repeat;
          background-size: 3rem 3rem;
        }

        &:hover {
          cursor: pointer;
          color: #36b4f1;
          background: #ffffff;
        }

        &:hover &-img {
          background-image: url(../img/a-image/icons/map-blue.svg);
        }
      }
    }
  }
  &-info {
    position: relative;
    display: none;
    &::after {
      position: absolute;
      content: '';
      right: 0.3rem;
      top: 0;
      width: 0.3rem;
      height: 100%;
      background-color: $white;
    }
    &-top {
        padding: 5rem 0 2.5rem;
    }
    &.active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 55%;
      padding: 0 5rem;
    }
    &-title {
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 160%;
      margin-bottom: 3.1rem;
    }
    &-links {
      display: none;
    }
    &-link {
      font-family: 'MyriadPro';
      font-size: 1.8rem;
      font-weight: 400;
      font-style: normal;
      line-height: 2.4rem;
      display: flex;
      gap: 2rem;
      margin-bottom: 3.3rem;
      text-decoration: underline;
      color: #36b4f1;
      &-route {
        display: flex;
        align-items: center;
        &::before {
        content: '';
        margin-right: 1.8rem;
        flex: 0 0 1.6rem;
        width: 1.6rem;
        height: 1.9rem;
        background-image: url(../img/ans_image/icons/route.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        }
      }
      &-taxi {
        display: flex;
        align-items: center;
        &::before {
        content: '';
        margin-right: 1.5rem;
        flex: 0 0 2.3rem;
        width: 2.3rem;
        height: 0.9rem;
        background-image: url(../img/ans_image/icons/taxi.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        }
      }
    }
    &-address {
      margin-bottom: 2.7rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      column-gap: 1.5rem;
      font-family: 'Montserrat';
      font-size: 1.8rem;
      line-height: 133%;
      &::after {
        content: '';
        margin-top: -0.3rem;
        flex: 0 0 2.9rem;
        width: 2.9rem;
        height: 2.9rem;
        background-image: url(../img/a-image/icons/map.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &-phone {
      margin-bottom: 2.7rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      column-gap: 1.5rem;
      font-family: 'Montserrat';
      font-size: 1.8rem;
      line-height: 133%;
      &::after {
        content: '';
        margin-top: -0.3rem;
        flex: 0 0 2.7rem;
        width: 2.7rem;
        height: 2.7rem;
        background-image: url(../img/a-image/icons/phone.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &-works {
      margin-bottom: 4.3rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
      column-gap: 1.5rem;
      font-family: 'Montserrat';
      font-size: 1.8rem;
      line-height: 133%;
      &::after {
        content: '';
        flex: 0 0 2.1rem;
        width: 2.1rem;
        height: 2.1rem;
        background-image: url(../img/a-image/icons/time.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &-days {
      margin-bottom: 1rem;

      display: flex;
      align-items: center;
      column-gap: 3rem;
      font-family: 'Montserrat';
      font-size: 1.8rem;
      line-height: 133%;
      &-day {
        font-family: 'Montserrat';
        font-size: 1.2rem;
        line-height: 200%;
        position: relative;
        &.black::after {
          position: absolute;
          content: '';
          left: 50%;
          top: -2rem;
          transform: translateX(-50%);
          width: 1.6rem;
          height: 1.6rem;
          background-color: #b8c1c6;
          border-radius: 50%;
        }
        &::after {
          position: absolute;
          content: '';
          left: 50%;
          top: -2rem;
          transform: translateX(-50%);
          width: 1.6rem;
          height: 1.6rem;
          background-color: $blue;
          border-radius: 50%;
        }
      }
    }
    &-times {
      display: flex;
      align-items: center;
      column-gap: 4rem;
      width: 70.5%;
      margin-bottom: 3rem;
      &-time {
        font-family: 'Montserrat';
        font-size: 1.2rem;
        line-height: 200%;
        position: relative;
        padding-left: 2.5rem;
        &.black::after {
          position: absolute;
          content: '';
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1.6rem;
          height: 1.6rem;
          background-color: #b8c1c6;
          border-radius: 50%;
        }
        &::after {
          position: absolute;
          content: '';
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1.6rem;
          height: 1.6rem;
          background-color: $blue;
          border-radius: 50%;
        }
      }
    }
    &-btn {
      min-width: 26rem;
      min-height: 5.7rem;
      text-align: center;
      &-bottom {
        width: 37.1rem;
        margin-bottom: 3.1rem;
      }
    }
  }
  &__map {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 43%;
    height: calc(100% - 16rem);
    z-index: 33;
    & #contloc {
      width: 100%;
      height: 100%;
      .ymaps-2-1-79-map {
        height: 100% !important;
      }
    }
  }
  &.centers-kontacti-centri {
    .centers {
      &__subtitle {
        margin-bottom: 0.7rem;
      }
      &__title {
        font-family: 'Montserrat';
        font-size: 3.5rem;
        line-height: 122%;
        margin-bottom: 4rem;
      }
      &__content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
      &-info {
        display: block;
        background: #eef3f7;
        width: 31.48%;
        padding: 4rem 4rem 5.5rem 4rem;
        margin-right: 4rem;
        margin-bottom: 4rem;
        &:nth-child(3n + 3) {
          margin-right: 0;
        }
        &-title {
          min-height: 8rem;
          width: 90%;
          font-size: 2.46rem;
          line-height: 165%;
        }
        &-links {
          &-taxi {
            margin-right: 0.8rem;
          }
        }
      }
    }
    &::after {
      content: none;
    }
  }
  &__det-ob-usl {
    margin-top: 18.2rem;
    margin-bottom: 14.5rem;
  }
  &.centers-about {
    margin-bottom: 24.4rem;
    .centers {
      &-info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 55%;
        padding: 0rem 5rem 0 0rem;
        .black::after {
          background-color: #2f2f2f;
        }
      }
      &__map {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 63.5%;
        height: calc(100% - 12rem);
        z-index: 33;
        & #contloc {
          width: 100%;
          height: 100%;
          .ymaps-2-1-79-map {
            height: 100% !important;
          }
        }
      }
    }
  }
}

@media (max-width: 48em) {
  .centers {
    margin-bottom: 16rem;
    &::before {
      display: none;
    }
    .centers-info,
    .centers-info.active {
      position: relative;
      padding: 8rem 0;
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100vw;
        height: 100%;
        top: 0;
        left: -5rem;
        background-color: #eef3f7;
      }
    }
    .centers-filter {
      position: relative;
      margin-bottom: 1.3rem;
      padding: 5rem 0;
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100vw;
        height: 100%;
        top: 0;
        left: -5rem;
        background-color: #eef3f7;
      }
      &__dropdown {
        display: block;
        width: 100%;
        &-btn {
          padding: 2.6rem 4rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 5.4rem;
          width: 100%;
          border: 0.2rem solid #d8dde4;
          border-radius: 14.4rem;
          color: #2f2f2f;
          font-family: 'MyriadPro';
          font-size: 3.2rem;
          line-height: 150%;
          span {
            max-width: 53.4rem;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &::after {
            content: '';
            flex: 0 0 3rem;
            width: 3rem;
            height: 2rem;
            background-image: url(../img/a-image/icons/select-arrow-blue.svg);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
        &-body {
          position: fixed;
          z-index: 500;
          top: 100vh;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 0 4rem 8.8rem 4rem;
          display: flex;
          flex-direction: column;
          background: #eef3f7;
          overflow: auto;
          transition: top 0.3s ease;
          ._dropdown-open & {
            top: 0;
          }
        }
        &-close {
          padding: 4.8rem 0;
          display: flex;
          align-items: center;
          column-gap: 2.4rem;
          font-family: 'MyriadPro';
          font-size: 3.2rem;
          color: rgba(47, 47, 47, 0.35);
          &::before {
            content: '';
            flex: 0 0 3.6rem;
            width: 3.6rem;
            height: 2rem;
            background-image: url(../img/a-image/icons/arrow-prev-grey.svg);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
        &-search-wrap {
          margin-bottom: 4.8rem;
          display: flex;
          width: 100%;
          border-radius: 1.2rem;
          border: 0.12rem solid #d8dde4;
          background: #ffffff;
          &::before {
            content: '';
            margin: 0 2.2rem;
            align-self: center;
            flex: 0 0 4.8rem;
            width: 4.8rem;
            height: 4.8rem;
            background-image: url(../img/a-image/icons/search.svg);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
        &-search {
          padding: 2.6rem 3.6rem 2.6rem 0;
          height: 8rem;
          border: none;
          font-family: 'MyriadPro';
          font-size: 3rem;
          line-height: 100%;
          &::placeholder {
            color: rgba(47, 47, 47, 0.35);
          }
        }
      }
    }
    &::after {
      display: none;
      width: 100%;
      top: 17.5rem;
      height: 80%;
    }
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 37.5rem;
      width: 100%;
      height: 1.2rem;
      background-color: #fff;
    }
    &__subtitle {
      font-size: 3rem;
      text-transform: none;
      margin-bottom: 1.3rem;
    }
    &__title {
      margin-bottom: 5.3rem;
      font-size: 5.43rem;
    }
    &__content {
      width: 100%;
      display: block;
      &::after {
        content: none;
      }
    }
    &__map {
      position: relative;
      top: 0;
      left: -4rem;
      margin: 0;
      width: 100vw;
      height: 76rem;
      .centers__container .ymaps-2-1-79-map {
        height: 100% !important;
        width: 100vw !important;
      }
      &::after {
        position: absolute;
        content: '';
        left: 0rem;
        top: -1.2rem;
        width: 100%;
        height: 1.2rem;
        background-color: #fff;
      }
    }
    &-filter {
      margin-bottom: 14.6rem;
      width: 100%;
      padding: 0;
      &-list {
        row-gap: 4.8rem;
        &__item {
          padding: 0;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 0;
          background-color: none;
          &:hover {
            background: none;
          }
          &.active {
            background: none;
          }
          &-text {
            margin-bottom: 0.8rem;
            font-family: 'MyriadPro';
            font-size: 3.2rem;
            line-height: 150%;
            color: #2f2f2f;
          }
          &-txt {
            display: block;
            max-width: 67rem;
            font-family: 'MyriadPro';
            font-size: 2.6rem;
            line-height: 120%;
            color: rgba(47, 47, 47, 0.35);
            .active & {
              color: $blue;
              text-decoration: underline;
            }
          }
          &-img {
            display: none;
          }
        }
      }
      &::after {
        content: none;
      }
      &__item {
        font-size: 2.83rem;
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 1rem;
        }
        & span {
          font-size: 2.83rem;
          line-height: 140%;
        }
        &.active {
          color: $fzAll;
          font-size: 2.83rem;
        }
      }
    }
    &-info {
      width: 100%;
      margin-bottom: 9.5rem;
      padding: 6.9rem 0;
      &-title {
        font-size: 3.6rem;
        max-width: 67rem;
        margin-bottom: 4rem;
      }
      &-links {
        display: flex;
        flex-direction: column;
        row-gap: 2.4rem;
        margin-bottom: 6.8rem;
        &-route {
          display: flex;
          align-items: center;
          column-gap: 3rem;
          font-family: 'MyriadPro';
          font-size: 3.2rem;
          line-height: 133%;
          color: $blue;
          text-decoration: underline;
          cursor: pointer;
          &::before {
            content: '';
            flex: 0 0 4.8rem;
            width: 4.8rem;
            height: 4.8rem;
            background-image: url(../img/a-image/icons/route.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
        &-taxi {
          display: flex;
          align-items: center;
          column-gap: 3rem;
          font-family: 'MyriadPro';
          font-size: 3.2rem;
          line-height: 133%;
          color: $blue;
          text-decoration: underline;
          cursor: pointer;
          &::before {
            content: '';
            flex: 0 0 4.8rem;
            width: 4.8rem;
            height: 4.8rem;
            background-image: url(../img/a-image/icons/taxi.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
      &-address {
        font-size: 3.2rem;
        padding-left: 0;
        line-height: 145%;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: flex-end;
        column-gap: 3rem;
        max-width: 59.2rem;
        &::after {
          position: static;
          transform: none;
          flex: 0 0 4.8rem;
          width: 4.8rem;
          height: 4.8rem;
        }
      }
      &-phone {
        font-size: 3.2rem;
        padding-left: 0;
        margin-bottom: 3.7rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: flex-end;
        column-gap: 4rem;
        max-width: 59.2rem;
        &::after {
          position: static;
          transform: none;
          flex: 0 0 4.8rem;
          width: 4.8rem;
          height: 4.8rem;
        }
      }
      &-works {
        font-size: 3.2rem;
        padding-left: 0;
        margin-bottom: 8.2rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: flex-end;
        column-gap: 4rem;
        max-width: 59.2rem;
        &::after {
          position: static;
          transform: none;
          flex: 0 0 4rem;
          width: 4rem;
          height: 4rem;
        }
      }
      &-days {
        margin-left: 0.4rem;
        margin-bottom: 3.2rem;
        width: 88%;
        column-gap: 4rem;
        justify-content: space-between;
        &-day {
          padding-top: 1.6rem;
          color: #2f2f2f;
          font-family: 'MyriadPro';
          font-size: 2.6rem;
          line-height: 120%;
          &::after {
            width: 3.2rem;
            height: 3.2rem;
            top: -3rem;
          }
          &.black::after {
            top: -3rem;
            width: 3.2rem;
            height: 3.2rem;
          }
        }
      }
      &-times {
        width: 77.9%;
        justify-content: space-between;
        margin-bottom: 5.3rem;
        &-time {
          font-size: 2.4rem;
          padding-left: 5rem;
          &::after {
            width: 3.2rem;
            height: 3.2rem;
          }
          &.black::after {
            width: 3.2rem;
            height: 3.2rem;
          }
        }
      }
      &-btn {
        margin-bottom: 0;
        width: 100%;
        min-height: 10rem;
      }
      &.active {
        width: 100%;
        padding: 0;
      }
    }
  }
}
