.d-services-prices {
    margin-bottom: 16rem;

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;

        span {
            display: block;
            color:  #36B4F1;
            text-align: center;
            font-family: 'Myriad Pro',sans-serif;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        strong {
            color:  #2F2F2F;
            text-align: center;
            font-family: 'Montserrat',sans-serif;
            font-size: 5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: block;
        }
    }
}


@media (max-width: 48em) {

    .d-services-prices {
        &__title {
            align-items: initial;
            justify-content: initial;
            margin-bottom: 6.4rem;
            span {
                font-size: 3rem;
                text-align: left;
            }

            strong {
                text-align: left;
            }
        }
    }
}