.extra {
   margin-bottom: 18rem;
   &__inner {
     padding: 0 1rem;
   }
   &__subtitle {
      margin-bottom: 1.8rem;
   }
   &__title {
      margin-bottom: 6rem;
   }
   &__items {
      display: flex;
      justify-content: space-between;
   }
   &__item {
      width: 23%;
      box-shadow: 0px 2rem 6rem rgba(124, 148, 159, 0.15);
      padding: 5rem 5.5rem 5rem 5rem;
      &-icon {
         width: 4rem;
         height: 4rem;
         margin-bottom: 2.3rem;
         position: relative;
         &::after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
         }
      }
      &-icon1 {
         &::after {
            background-image: url(../img/icons/extra1.png);
         }
      }
      &-icon2 {
         &::after {
            background-image: url(../img/icons/extra2.png);
         }
      }
      &-icon3 {
         &::after {
            background-image: url(../img/icons/extra1.png);
         }
      }
      &-icon4 {
         &::after {
            background-image: url(../img/icons/extra4.png);
         }
      }
      &-text {
         font-family: "Montserrat";
         font-weight: 500;
         font-size: 2rem;
         line-height: 157%;
      }
      &.active {
         background: linear-gradient(180deg, #5FCBFF 0%, #36B4F1 100%);
         position: relative;
      }
      &.active::after {
         right: -21rem;
         bottom: -19rem;
      }
      &.active::before {
         left: 3.5rem;
         bottom: -15rem;
      }
      &.active .extra__item-text {
         color: $white;
      }
      &.active .extra__item-icon3::after {
         background-image: url(../img/icons/extra3-1.png);
         z-index: 33;
      }
   }
   &.extra-page {
      margin-bottom: 15rem;
      .extra {
         &__items {
            flex-wrap: wrap;
            justify-content: flex-start;
         }
         &__item {
            width: 31.4%;
            padding-top: 6.3rem;
            padding-bottom: 5.5rem;
            margin-bottom: 3rem;
            &:not(:nth-child(3n+3)) {
               margin-right: 4rem;
            }
            &-icon {
               margin: 0 auto;
               width: 6.8rem;
               height: 6.8rem;
               background: $blue;
               box-shadow: 0px 2rem 3rem rgba(64, 185, 244, 0.1);
               border-radius: 1.4rem;
               display: flex;
               align-items: center;
               justify-content: center;
               margin-bottom: 2.9rem;
               & img {
                  width: 3.2rem;
                  height: 3.1rem;
                  object-fit: cover;
               }
               &::after {
                  content: none;
               }
            }
            &-text {
               text-align: center;
               font-family: "MyriadPro";
               font-size: 2.5rem;
               line-height: 152%;
            }
         }
      }
   }
   &.extra-ceni {
      margin-bottom: 9.6rem;
      .extra {
         &__items {
            flex-wrap: wrap;
         }
         &__item {
            width: 49.3%;
            padding: 4rem 5rem 4rem 5rem ;
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            &-icon {
               margin: 0;
               margin-right: 5rem;
               width: 6.8rem;
               height: 6.8rem;
               background: $blue;
               box-shadow: 0px 2rem 3rem rgba(64, 185, 244, 0.1);
               border-radius: 1.4rem;
               display: flex;
               align-items: center;
               justify-content: center;
               & img {
                  width: 3.9rem;
                  height: 3.6rem;
                  object-fit: contain;
               }
               &::after {
                  content: none;
               }
            }
            &-text {
               font-family: "Montserrat";
               font-weight: 500;
               font-size: 2.5rem;
               line-height: 152%;
            }
         }
      }
   }
}


@media (max-width: 48em) {
   .extra {
      margin-bottom: 10rem;
      padding-bottom: 10rem;
      overflow: hidden;
      &__items {
         display: block;
      }
      &__item {
         width: 100%;
         margin-bottom: 4rem;
         display: block;
         padding: 7.5rem 15rem 8rem 8rem;
         box-shadow: 0px 4rem 12rem rgba(124, 148, 159, 0.15);
         &-icon {
            width: 7.5rem;
            height: 7.5rem;
            margin-bottom: 5rem;
         }
         &-icon2 {
            width: 8.5rem;
            height: 8.5rem;
            margin-top: 0.5rem;
            margin-bottom: 4rem;
         }
         &-icon3 {
            width: 7rem;
            height: 9rem;
            margin-top: 0rem;
            margin-bottom: 4rem;
         }
         &-icon4 {
            width: 8rem;
            height: 9rem;
            margin-bottom: 4rem;
         }
         &-text {
            font-size: 3.54rem;
            line-height: 150%;
         }
      }
      &.extra-page {
         margin-bottom: 6.5rem;
         .extra {
            &__subtitle {
               margin-bottom: 4rem;
            }
            &__title {
               margin-bottom: 7rem;
            }
            &__item {
               width: 100%;
               padding: 6rem 6rem 6rem 6rem;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               margin-bottom: 3.05rem;
               &-icon {
                  width: 13.5rem;
                  height: 13.5rem;
                  border-radius: 2.8rem;
                  box-shadow: 0px 4rem 6rem rgba(64, 185, 244, 0.1);
                  margin-bottom: 4rem;
                  & img {
                     width: 6.4rem;
                     height: 6.4rem;
                     object-fit: contain;
                  }
               }
               &-text {
                  font-size: 4rem;
                  line-height: 131%;
               }
            }
         }
      }
   }
}