.form {
  &__error {
    position: absolute;
    top: calc(100% + 0.3rem);
    left: 50%;
    font-family: 'MyriadPro';
    font-size: 1.4rem;
    text-align: center;
    color: #e81919;
    transform: translateX(-50%);
    @media (max-width: 48.98em) {
      top: calc(100% + 0.5rem);
      font-size: 2.3rem;
    }
  }
}

// application form
.application {
  padding: 6.8rem 6.8rem 6rem 6.8rem;
  display: flex;
  flex-direction: column;
  &_person {
    .application__contacts {
      margin-bottom: 4rem;
    }
    .application__checkbox {
      margin-bottom: 4rem;
    }
  }
  .contact-item {
    min-width: 14.7rem;
  }

  // .application__title

  &__title {
    margin-bottom: 3.8rem;
  }

  // .application__fields

  &__fields {
    margin-bottom: 3.2rem;
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
  }

  // .application__input

  &__input {
  }

  // .application__contacts

  &__contacts {
    margin-bottom: 6.4rem;
    display: flex;
    flex-direction: column;
  }

  // .application__contacts-subtitle

  &__contacts-subtitle {
    margin-bottom: 1.8rem;
    font-size: 1.6rem;
  }

  // .application__contacts-group

  &__contacts-group {
    display: flex;
    gap: 3rem;
  }

  // .application__contact-item

  &__contact-item {
  }

  // .application__heading

  &__heading {
    margin-bottom: 3.6rem;
  }

  // .application__patients

  &__patients {
    margin-bottom: 4rem;
  }

  // .application__btn

  &__btn {
    align-self: flex-start;
    min-width: 29.3rem;
  }

  // .application__warning

  &__warning {
    margin-bottom: 4.2rem;
    .warning__text {
      max-width: 67.8rem;
    }
  }
}

// checkbox
.checkbox {
  position: relative;
  &_ellipse {
    display: flex;
    column-gap: 1.5rem;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
      width: 0;
      height: 0;

      &:checked + span:before {
        background-position: 50% 50%;
        background-size: 0.75rem 0.75rem;
        background-repeat: no-repeat;
        background-image: url('../img/dim-image/icons/subscribe-check.svg');
      }
    }

    span {
      color: $white;
      font-family: Myriad Pro, sans-serif;
      font-size: 1.6rem;
      line-height: 125%;
      padding-left: 3rem;

      &::before {
        content: '';
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 1px solid $white;
        position: absolute;
        left: 0;
        top: 0.3rem;
        background: 0 0;
        background: transparent;
      }
    }
  }
  &._form-error {
    .checkbox__label::before {
      border: 2px solid #e81919;
    }
  }
  // .checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:checked + .checkbox__label::before {
      border: 2px solid $orange;
      background-color: $orange;
    }
    &:checked + .checkbox__label::after {
      background: url('../img/a-image/icons/check.svg') center no-repeat;
      background-size: 1.3rem;
      @media (max-width: 48.98em) {
        background-size: 3rem;
      }
    }
  }
  // .checkbox__label
  &__label {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 2rem;
    &::after,
    &::before {
      content: '';
      align-self: flex-start;
      flex: 0 0 2.2rem;
      width: 2.2rem;
      height: 2.2rem;
      @media (max-width: 48.98em) {
        flex: 0 0 3.9rem;
        width: 3.9rem;
        height: 3.9rem;
      }
    }
    &::before {
      border: 2px solid rgba(51, 51, 51, 0.5);
      border-radius: 0.3rem;
      transition: border 0.3s ease;
    }
    &::after {
      position: absolute;
      z-index: 2;
    }
    @media (max-width: 48.98em) {
      gap: 4rem;
      line-height: 3rem;
    }
  }
  // .checkbox__text
  &__text {
    font-family: 'MyriadPro';
    font-size: 1.6rem;
    line-height: 160%;
    color: rgba(51, 51, 51, 0.5);
    @media (max-width: 48.98em) {
      font-size: 2.6rem;
    }
  }
}

// radio
.options {
  // .options__item
  &__item {
    position: relative;
    cursor: pointer;
  }
  // .options__input
  &__input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    &:checked + .options__label::before {
      border: 2px solid $orange;
      background-color: $orange;
    }
    &:checked + .options__label::after {
      background: url('../img/a-image/icons/check.svg') center no-repeat;
      background-size: 1.3rem;
      @media (max-width: 48.98em) {
        background-size: 3rem;
      }
    }
  }
  // .options__label
  &__label {
    @extend .checkbox__label;
  }

  // .options__text

  &__text {
    @extend .checkbox__text;
    line-height: 150%;
  }
}

// option
.option {
  position: relative;
  flex: 0 0 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid rgba(47, 47, 47, 0.35);
  cursor: pointer;
  &._active {
    &::before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  &::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: $orange;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
  }
}

// input
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
}
textarea:focus,
input:focus {
  outline: none;
}
input {
  display: block;
  width: 100%;
  cursor: text;
}
textarea {
  padding: 0;
  resize: none;
}
.input {
  position: relative;
  padding-left: 3rem;
  display: grid;
  grid-template-columns: 2rem 1fr;
  border: 1px solid #d8dde4;
  border-radius: 7.2rem;
  background-color: #ffffff;
  transition: all 0.3s ease;
  &._form-error {
    border: 1px solid #e81919;
  }
  &._form-focus {
    border: 1px solid $blue;
  }
  &._filled {
    border: 1px solid $blue;
    background-color: #f3fbff;
  }
  &::placeholder {
    font-weight: 400;
  }
  &::before {
    content: '';
    align-self: center;
    width: 2rem;
    height: 2rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  // .input_user

  &_user {
    &::before {
      background-image: url(../img/a-image/icons/user-grey.svg);
    }
  }

  &_email {
    &::before {
      background-image: url(../img/dim-image/icons/email-2.svg);
    }
  }

  &_comment {
    &::before {
      background-image: url(../img/dim-image/icons/question.svg);
      align-self: flex-start;
      position: relative;
      top: 1.8rem;
    }
  }

  // .input_tel

  &_tel {
    &::before {
      background-image: url(../img/a-image/icons/phone-grey.svg);
    }
  }

  // .input_date

  &_date {
    &::before {
      background-image: url(../img/a-image/icons/calendar-grey.svg);
    }
  }

  // .input_pass

  &_pass {
    &::before {
      background-image: url(../img/a-image/icons/lock-grey.svg);
    }
    @media (min-width: 48em) {
      &._desk {
        padding: 0 3rem;
        grid-template-columns: 2rem 1fr 2rem;
      }
    }
  }

  // .input_code

  &_code {
    &::before {
      background-image: url(../img/a-image/icons/code-grey.svg);
    }
  }

  // .input_password

  &_password {
    &::before {
      background-image: url(../img/a-image/icons/key-grey.svg);
    }
  }

  // .input__field

  &__field {
    @extend .txt;
    padding: 1.8rem 2rem;
    border: none;
    border-radius: 7.2rem;
    font-size: 1.6rem;
    line-height: 140%;
    background-color: transparent;
    transition: color 0.3s ease;
    &._form-focus {
      color: #2f2f2f;
    }
    ._filled & {
      color: #2f2f2f;
    }
    &::placeholder {
      color: rgba(51, 51, 51, 0.5);
    }
  }
}

// login form
.login-form {
  padding: 4.3rem 8.4rem 6rem 5.2rem;
  display: flex;
  flex-direction: column;

  // .login-form__head

  &__head {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
  }

  // .login-form__subtitle

  &__subtitle {
    margin-bottom: 1rem;
    font-weight: 400;
  }

  // .login-form__title

  &__title {
  }

  // .login-form__body

  &__body {
    display: flex;
    flex-direction: column;
  }

  // .login-form__options

  &__options {
    margin-bottom: 4rem;
    display: flex;
    column-gap: 4rem;
  }

  // .login-form__fields

  &__fields {
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.1rem;
    row-gap: 3rem;
  }

  // .login-form__input

  &__input {
    &_code {
      margin-bottom: 3rem;
      width: 38.3rem;
    }
  }

  // .login-form__checkbox

  &__checkbox {
    margin-bottom: 4rem;
  }

  // .login-form__text

  &__text {
    margin-bottom: 3rem;
    max-width: 42.8rem;
  }

  // .login-form__password

  &__password {
    @extend .login-form__fields;
    margin-bottom: 3.8rem;
  }

  // .login-form__btn

  &__btn {
    align-self: flex-start;
    min-width: 29.3rem;
  }
}

// personal data
.personal-data {
  padding: 6.6rem;
  display: flex;
  flex-direction: column;

  // .personal-data__heading

  &__heading {
    margin-bottom: 3.8rem;
  }

  // .personal-data__fields

  &__fields {
    margin-bottom: 6.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    .personal-data__input {
      margin: 0;
    }
  }

  // .personal-data__input

  &__input {
    margin-bottom: 6.4rem;
    width: 100%;
  }

  // .personal-data__warning

  &__warning {
    margin-bottom: 4.2rem;
  }

  // .personal-data__btn

  &__btn {
    align-self: flex-start;
    min-width: 29.3rem;
  }

  // .personal-data__family

  &__family {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
  }

  // .personal-data__family-heading

  &__family-heading {
    margin-bottom: 4rem;
  }

  // .personal-data__patients

  &__patients {
  }
}

@media (max-width: 48em) {
  .personal-data {
    padding: 5rem 4rem 8rem 4rem;
    &__fields {
      margin-bottom: 4rem;
      row-gap: 4rem;
      &_family {
        margin-bottom: 8rem;
      }
    }
    &__family-heading {
      margin-bottom: 6rem;
      font-weight: 500;
      font-size: 3rem;
    }
    &__family {
      margin-bottom: 6rem;
    }
    &__heading {
      margin-bottom: 5rem;
      font-weight: 500;
      font-size: 3rem;
    }
    &__input {
      margin-bottom: 4rem;
    }
    &__warning {
      margin-bottom: 6rem;
    }
    &__btn {
      width: 100%;
    }
  }
  .login-form {
    padding: 5rem 4rem 8rem 4rem;
    &__subtitle {
      margin-bottom: 4rem;
      max-width: 47.6rem;
    }
    &__input {
      &_code {
        width: 100%;
      }
    }
    &__title {
      font-size: 3rem;
      font-weight: 500;
    }
    &__head {
      margin-bottom: 6rem;
    }
    &__options {
      margin-bottom: 6rem;
      column-gap: 8rem;
    }
    &__fields {
      margin-bottom: 3rem;
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }
    &__password {
      margin-bottom: 3rem;
    }
    &__checkbox {
      margin-bottom: 4rem;
      .checkbox__label {
        line-height: 150%;
        &::before,
        &::after {
          align-self: center;
        }
      }
    }
    &__btn {
      width: 100%;
      height: 10rem;
    }
  }
  .application {
    padding: 5rem 4rem 8rem 4rem;
    &_person {
      .application__contacts {
        margin-bottom: 6rem;
      }
      .application__checkbox {
        margin-bottom: 6.4rem;
      }
    }
    .contact-item {
      min-width: none;
    }
    &__patients {
      &_mobile {
        margin-bottom: 4rem;
      }
      &:not(&_mobile) {
        display: none;
      }
    }
    &__warning {
      display: none;
    }
    &__title {
      margin-bottom: 6rem;
      font-weight: 500;
    }
    &__fields {
      margin-bottom: 6rem;
      row-gap: 4rem;
    }
    &__contacts {
      margin-bottom: 6rem;
    }
    &__contacts-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      column-gap: 1.4rem;
      row-gap: 4rem;
    }
    &__contacts-subtitle {
      margin-bottom: 3.4rem;
      font-size: 3.2rem;
    }
    &__btn {
      width: 100%;
      height: 10rem;
    }
    &__checkbox {
      margin-bottom: 4rem;
    }
    &__heading {
      margin-bottom: 6.4rem;
      font-weight: 500;
    }
  }
  .input {
    padding-left: 4rem;
    grid-template-columns: 4rem 1fr;
    border-radius: 14.4rem;
    &_pass {
      padding: 0 4rem;
      grid-template-columns: 4rem 1fr 4rem;
    }
    &::before {
      width: 4rem;
      height: 4rem;
    }
    &__viewpass {
      justify-self: end;
      align-self: center;
      width: 4rem;
      height: 4rem;
    }
    &__field {
      padding: 2.6rem 3.2rem;
      border-radius: 14.4rem;
      font-size: 3.2rem;
      line-height: 150%;
    }
    &_comment::before {
      top: 3rem;
    }
  }
  .checkbox {
    &_ellipse {
      input {
        &:checked + span:before {
          background-position: 50% 50%;
          background-size: 1.25rem 1.25rem;
          background-repeat: no-repeat;
          background-image: url('../img/dim-image/icons/subscribe-check.svg');
        }
      }

      span {
        font-size: 2.8rem;
        line-height: 150%;
        padding-left: 4rem;

        &::before {
          width: 2rem;
          height: 2rem;
          top: 1rem;
        }
      }
    }
  }
}
@media (min-width: 48em) {
  .application {
    &__checkbox {
      &._mobile-only {
        display: none;
      }
    }
  }
  .login-form {
    .input__viewpass {
      display: none;
    }
  }
}
