.header {
   padding-top: 2rem;
   &__inner {
      width: 100%; /* 99.7% */
      position: relative;
     
   }
   &__top {
      display: flex;
      align-items: center;
      
      margin-bottom: 1.6rem;
      &-logo {
         width: 15.6rem;
         height: 5.4rem;
         margin-bottom: 1.2rem;
         margin-right: 4rem;
         & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
      &-simptom {
         position: relative;
         font-size: 1.3rem;
         line-height: 123%;
         padding-left: 3.5rem;
         & span {
            font-weight: 500;
            color: #FE7200;
            text-transform: none;
            display: block;
            margin-top: 0.1rem;
            position: relative;
            &::before {
               position: absolute;
               content: '';
               bottom: -0.4rem;
               right: 0rem;
               width: 100%;
               height: 1px;
               background-color: #FE7200;
            }
         }
         &::after {
            position: absolute;
            content: '';
            top: 50%;
            transform: translateY(-50%);
            left: 0rem;
            width: 1.95rem;
            height: 2.2rem;
            background-image: url(../img/icons/simptom.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
         }
      }
      &-map {
         position: relative;
         font-size: 1.3rem;
         line-height: 123%;
         & span {
            font-weight: 500;
            color: $blue;
            text-transform: none;
            display: block;
            margin-top: 0.1rem;
            position: relative;
            &::before {
               position: absolute;
               content: '';
               bottom: -0.4rem;
               left: 0rem;
               width: 100%;
               height: 1px;
               background-color: $blue;
            }
         }
      }
     
      &-btn {
         height: 4.4rem;
         display: flex;
         padding-left: 2.4rem;
         width: 25.4rem;
         align-items: center;
         position: relative;
         cursor: pointer;
         font-family: 'Myriad Pro';
         font-weight: 400;
         font-size: 1.6rem;
         line-height: 125%;
         margin-right: 2rem;
         margin-top: 1rem;
         &::before {
            position: absolute;
            content: '';
            right: 1.7rem;
            top: 50%;
            transform: translateY(-50%);
            width: 0.8rem;
            height: 0.8rem;
            background-image: url(../img/icons/arrow-white.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
         }
         &::after {
            position: absolute;
            content: '';
            right: 3.9rem;
            top: 0.7rem;
            bottom: 0.7rem;
            width: 1px;
            background-color: rgba(238, 243, 247, 0.5);
         }
         &-drop {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 21.6rem;
            background: #fff;
            z-index: 20;
            padding: 3rem;
            padding-right: 0;
            padding-top: 3rem;
            box-shadow: 0px 2rem 9rem rgba(111, 178, 208, 0.2);
            &.active {
               display: block;
            }
            & li {
               & a {
                  font-family: "MyriadPro";
                  font-size: 1.3rem;
                  line-height: 123%;
                  display: flex;
                  align-items: center;
                  color: $fzAll;
                  & img {
                     width: 2.1rem;
                     height: 2.1rem;
                     object-fit: contain;
                     margin-left: 0;
                     margin-right: 1.5rem;
                  }
               }
               &:not(:last-child) {
                  margin-bottom: 1.7rem;
               }
            }
         }
      }
      &-phone {
         position: relative;
         a {
            font-size: 2.05rem;
         }
         & span {
            font-family: "Golos";
            font-size: 1.2rem;
            line-height: 133%;
            opacity: 0.48;
            display: block;
         }
      }
      &-mess {
         display: flex;
         align-items: center;
         &-img {
            &:not(:last-child) {
               margin-right: 2.5rem;
            }
            & img {
               width: 100%;
               height: 100%;
               object-fit: contain;
            }
         }
         &-telegram {
            width: 2.2rem;
            height: 2rem;
         }
         &-user {
            width: 2.4rem;
            height: 2.4rem;
         }
         &-box {
            width: 2.5rem;
            height: 2.2rem;
         }
      }
      &-burger {
         width: 2.4rem;
         height: 2.4rem;
         cursor: pointer;
         & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
         }
      }
   }

   &__top-form {
      margin-right: 2rem;
   }
   &__top-form-inner {
      position: relative;
      display: block;
    
      input {
         border-radius: 4rem;
         border: 0.15rem solid  #D8DDE4;
         background:  #FFF;
         width: 67.5rem;
         padding: 1.3rem 2rem;
         height: 4.4rem;
         font-size: 1.6rem;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
         color:#2F2F2F;
         &::placeholder {
            color:  rgba(47, 47, 47, 0.35);
         }
      }
   }

   &__top-form-inner-icon {
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 50%;
      right: 2rem;
      transform: translate(0, -50%);
      background-image: url(../img/icon/search.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      z-index: 2;
   }


   &__top-cabinet {
      display: flex;
      justify-content: center;
      align-items:center;
      flex-direction: column;
      margin-left: 2rem;
   }

   &__top-cabinet-icon {
      width: 2.4rem;
      height: 2.4rem;
      margin-bottom: 0.8rem;
   }

   &__top-cabinet-text {
      color: #2F2F2F;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      opacity: 0.82;
   }
 
   &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      &-items {
       width: 100%;
         display: flex;
         justify-content: space-between;
      }
      &-item {
       
         &>span {
            font-family: 'Golos';
            font-weight: 500;
            font-size: 1.3rem;
            line-height: 100%;
            text-transform: uppercase;
            position: relative;
            padding:  1rem 1.7rem 2.3rem 0;
            display: block;
            width: fit-content;
            cursor: pointer;
       
            &::after {
               position: absolute;
               content: '';
               right: 0;
               top: 1.1rem;
               transform: rotate(90deg);
               width: 0.8rem;
               height: 1rem;
               background-image: url(../img/icons/arrow-right-black.svg);
               background-position: center;
               background-size: contain;
               background-repeat: no-repeat;
            }
         }
         &>a {
            font-family: 'Golos';
            font-weight: 500;
            font-size: 1.3rem;
            line-height: 100%;
            text-transform: uppercase;
            padding: 1rem 0 2.3rem 0;
            display: block;
            width: fit-content;
          
         }
         &-drop {
            display: none;
            position: absolute;
            top: 4.5rem;
            left: -16%;
            right: -16.2%;
            background: #D8DDE4;
            box-shadow: 0px 2rem 9rem rgba(111, 178, 208, 0.05);
            z-index: 20;
            padding: 2.2rem 16.2% 5rem 16%;
            &.active {
               display: flex;
               justify-content: space-between;
            }
            &-page {
               width: 50%;
               &-name {
                  font-family: 'Myriad Pro';
                  font-size: 1.6rem;
                  line-height: 100%;
                  color: rgba(51, 51, 51, 0.5);
                  margin-bottom: 2.5rem;
                  margin-left: 2.1rem;
               }
               &-items {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  flex-wrap: wrap;
                  &>a {
                     font-family: 'Myriad Pro';
                     font-size: 1.8rem;
                     line-height: 100%;
                     color: $fzAll;
                     padding: 1rem 2rem;
                     display: block;
                     width: 50%;
                     margin-bottom: 0.8rem;
                     &:hover {
                        background: #EEF3F7;
                        border-radius: 1rem;
                     }
                  }
               }
            }
            &-tema {
               width: 50%;
               &-name {
                  font-family: 'Myriad Pro';
                  font-size: 1.6rem;
                  line-height: 100%;
                  color: rgba(51, 51, 51, 0.5);
                  margin-bottom: 2.5rem;
                  margin-left: 2.1rem;
               }
               &-items {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  flex-wrap: wrap;
                  position: relative;
                  &::after {
                     position: absolute;
                     left: -2rem;
                     top: 0;
                     bottom: 1rem;
                     content: '';
                     width: 1px;
                     background-color:  #EEF3F7;
                  }
                  &>a {
                     padding: 1rem 2.1rem 1rem 4.4rem;
                     font-family: 'Myriad Pro';
                     font-size: 1.8rem;
                     line-height: 100%;
                     position: relative;
                     margin-bottom: -0.2rem;
                     width: 35.5rem;
                     &>span {
                        font-size: 1.6rem;
                        color: $fzAll;
                        opacity: 0.48;
                        display: block;
                        width: fit-content;
                     }
                     &:hover {
                        background: rgba(248, 250, 253, 0.7);
                        border-radius: 2rem;
                     }
                     &::after {
                        position: absolute;
                        left: 2rem;
                        top: 1rem;
                        content: '';
                        width: 1.6rem;
                        height: 1.8rem;
                        background-image: url(../img/icons/header-tema.svg);
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                     }
                  }
               }
            }
         }
         &-blue {
            &.header__bottom-item {
               &>span {
                  color: $blue;
                  &::after {
                     background-image: url(../img/icons/arraw-blue.svg);
                  }
               }
               & .header__bottom-item-drop {
                  display: none;
                  position: absolute;
                  top: 4.5rem;
                  left: -2.8rem;
                  width: 23.6rem;
                  background: #FFFFFF;
                  box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.1);
                  z-index: 20;
                  padding: 0.6rem 0 2rem 0;
                  &.active {
                     display: block;
                  }
                  & li {
                     padding: 0.6rem 3rem;
                     & a {
                        font-family: 'Golos';
                        font-weight: 500;
                        font-size: 1.3rem;
                        line-height: 123%;
                        color: $blue;
                        padding-right: 3rem;
                        position: relative;
                        &::after {
                           position: absolute;
                           right: 1.2rem;
                           content: '';
                           top: 50%;
                           transform: translateY(-50%);
                           width: 0.8rem;
                           height: 0.8rem;
                           background-image: url(../img/icons/arraw-blue.svg);
                           background-repeat: no-repeat;
                           background-size: contain;
                           background-position: center;

                        }
                     }
                     &:not(:last-child) {
                        margin-bottom: 0.4rem;
                     }
                     &:hover {
                        background: #EEF3F7;
                     }
                  }
               }
            }
         }
      }

   }

   &__top-form-down-inner {
      position: relative;
   }

   &__top-form-down {
      position: absolute;
      z-index: 11;
      left: 19rem;
      
      input {
         border-radius: 4rem;
         border: 0.15rem solid  #D8DDE4;
         background:  #FFF;
         width: 125.4rem;
         padding: 1.3rem 2rem;
         height: 4.4rem;
         padding-left: 5.4rem;
         font-size: 1.6rem;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
         color:#2F2F2F;
         
         &::placeholder {
            color:  rgba(47, 47, 47, 0.35);
         }

         
      }

      input[type="search"]::-webkit-search-decoration,
      input[type="search"]::-webkit-search-cancel-button,
      input[type="search"]::-webkit-search-results-button,
      input[type="search"]::-webkit-search-results-decoration {
      display: none;
      }
   }


  &__top-form-down-inner.active {
      input {
         border-radius: 2rem 2rem 0 0;
      }
  }

   &__top-form-down-inner-icon {
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 50%;
     left: 2rem;
      transform: translate(0, -50%);
      background-image: url(../img/icon/search.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      z-index: 2;
   }

   &__top-form-down-inner-close {
      width: 1.2rem;
      height: 1.2rem;
      position: absolute;
      top: 40%;
      transform: translate(0, -40%);
      right: 2rem;

   }

   &__top-form-down-block {
      border: 0.1rem solid #D8DDE4;
      background:  #FFF;
      position: absolute;
      z-index: 2;
      width: 100%;
      padding-top: 2.7rem;
      padding-bottom: 2rem;
      display: none;
   }

   &__top-form-down-block-lists {
      display: flex;
      margin-bottom: 3.6rem;
      padding-left: 3.9rem;
   }

   &__top-form-down-block-lists-item {
      display: flex;
      padding: 0.6rem 1.6rem;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      border-radius: 1rem;
      border: 0.1rem solid #D8DDE4;
      color:  #2F2F2F;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      cursor: pointer;
      margin-right: 1.5rem;
      transition:  0.2s;
      &:hover {
         transition: 0.2s;
         background:  #36B4F1;
         font-weight: 600;
         color: #fff;
      }

     

     
     
   }


   &__top-form-down-block-lists-item.active {
      transition: 0.2s;
      background:  #36B4F1;
      font-weight: 600;
      color: #fff;
   }

   &__top-form-down-block-lists-item:last-child {
      margin-right: 0;
   }


   &__top-form-down-block-data {
      padding-left: 2rem;
   }

   &__top-form-down-block-data-item {
      padding-left: 1.9rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      color:  rgba(51, 51, 51, 0.50);
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem;
      max-width: 99.9rem;
      margin-bottom: 2rem;
      transition: background 0.2s ease;
      &:hover {
         transition: background 0.2s ease;
         background:  #EEF3F7;
      }
   }

   &__top-form-down-block-data-item:last-child {
      margin-bottom: 0;
   }


   &__top-form-down-block-data-item-link {
      span {
         color:#36B4F1;
         font-weight: 600;
      }
   }

   &__top-btn-block {
      position: relative;
      padding-bottom: 1rem;
   }

   &__mob {
      display: none;
   }




}
@media (max-width: 48em) {
   .header {
      padding-top: 3.2rem;
      padding-bottom: 2rem;
      &__inner {
         display: flex;
         justify-content: space-between;
         display: none;
      }
      .container {
         padding: 0;
      }
      &__top {
         margin-bottom: 0;
        
         &-logo {
            width: 19.6rem;
            height: 6.4rem;
         }
         &-info {
            display: none;
         }
      }
      &__bottom {
         flex-direction: row-reverse;
        
         &-left {
            &-search {
               display: none;
            }
            &-menu {
               display: none;
            }
            &-burger {
               width: 5rem;
               height: 5rem;
            }
         }
         &-right {
            width: auto;
            margin-right: 5.2rem;
            &-cabinet {
               margin-right: 6.6rem;
               &-name {
                  display: none;
               }
               &-img {
                  width: 4.7rem;
                  height: 4.7rem;
                  margin-right: 0;
               }
            }
            &-basket {
               width: 4.7rem;
               height: 4.7rem;
            }
         }
      }

      &__mob {
         display: block;
      }


      .open-nav {
         left: 0;
         top: 0;
         padding-top: 30rem;
         transition: left 0.5s;
     }
 
      &__burger {
         display: flex;
         justify-content: center;
         width: 3.8rem;
         height: 2.6rem;
         position: relative;
         transition-duration: 1s;
         cursor: pointer;
         z-index: 4;
         padding-top: 1rem;

         span {
             height: 0.4rem;
             width: 3.8rem;
             background-color: #000000;
             border-radius: 20%;
             position: absolute;
             transition-duration: .25s;
             transition-delay: .25s;    
             &::before {
                 left: 0;
                 position: absolute;
                 top: -7px;
                 height: 0.4rem;
                 width: 3.8rem;
                 background-color: #000000;
                 border-radius: 20%;
                 content: "";
                 transition-duration: .25s;
                 transition: transform .25s, top .25s .25s;
             }
 
             &::after {
                 left: 0;
                 position: absolute;
                 top: 7px;
                 height: 0.4rem;
                 width: 3.8rem;
                 background-color: #000000;
                 border-radius: 20%;
                 content: "";
                 transition-duration: .25s;
                 transition: transform .25s, top .25s .25s;
             }
         }
 
      
     }


     &__burger.open {
      span {
          transition-duration: 0.1s;
          transition-delay: .25s;
          background: transparent;
      }
      span:before {
          transition: top .25s, transform .25s .25s;
          top: 0px;
          transform: rotateZ(-45deg);
      }
      span:after {
          transition: top 0.4s, transform .25s .25s;
          top: 0px;
          transform: rotateZ(45deg);
      }
      }

      &__mob-top {
         display: flex;
         justify-content: space-between;
         border-bottom: 0.2rem solid #ECEFF0;
         padding: 0 4rem;
         padding-bottom: 3rem;
      }

      &__mob-top-geo {
         color:  #36B4F1;
         font-family: 'Golos',sans-serif;
         font-size: 2rem;
         font-style: normal;
         font-weight: 400;
         line-height: 87.706%;
         position: relative;
         padding-left: 4.6rem;
         &::before {
            position: absolute;
            content:'';
            width: 3rem;
            height: 3rem;
            background-image: url(../img/d-image/icon/bui.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
         }
      }

      &__mob-top-phone {
         color:  #36B4F1;
         font-family: 'Golos',sans-serif;
         font-size: 2rem;
         font-style: normal;
         font-weight: 400;
         line-height: 87.706%;
         position: relative;
         padding-right: 4.6rem;
         &::before {
            position: absolute;
            content:'';
            width: 3.6rem;
            height: 3.6rem;
            background-image: url(../img/d-image/icon/phone.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
         }
      }

      &__mob-bottom {
         display: flex;
         justify-content: space-between;
         align-items:center;
         padding-top: 1.6rem;
         padding-bottom: 2.5rem;
         padding-left: 4rem;
         padding-right: 4rem;
         position: relative;
      }

      &__mob-bottom-logo {
         width: 19.2rem;
         height: 6.4rem;
      }

      &__mob-bottom-hide-nav {
         border: 0.1rem solid #D8DDE4;
         background:  #FFF;
         position: absolute;
         z-index: 2;
         width: 100%;
         padding-top: 5.4rem;
         padding-bottom: 4rem;
         display: none;
         padding-left: 3.2rem;
      }
      &__mob-bottom-search-btn {
         width: 3.6rem;
         height: 3.6rem;
      }

      &__mob-bottom-hide {
         position: absolute;
         z-index: 11;
         right: 2rem;
         top: 1.8rem;
      }


      &__mob-bottom-search {
         position: relative;
        
         input {
            border-radius: 4rem;
            border: 0.15rem solid  #D8DDE4;
            background:  #FFF;
            width: 71rem;
            padding: 1.3rem 2rem;
            height: 6.4rem;
            padding-left: 9.8rem;
            font-size: 3.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color:#2F2F2F;
            padding-right: 5.8rem;
            &::placeholder {
               color:  rgba(47, 47, 47, 0.35);
            }
   
            
         }
   
         input[type="search"]::-webkit-search-decoration,
         input[type="search"]::-webkit-search-cancel-button,
         input[type="search"]::-webkit-search-results-button,
         input[type="search"]::-webkit-search-results-decoration {
         display: none;
         }
      }

      &__mob-bottom-search.active {
         input {
            border-radius: 4rem 4rem 0 0;
         }
      }

      &__mob-bottom-search-icon {
         position: absolute;
         width: 3.4rem;
         height: 3.4rem;
         left: 4.2rem;
         top: 50%;
         transform: translate(0, -50%);
         background-image: url(../img/d-image/icon/search-grey.svg);
         background-repeat: no-repeat;
         background-size: 100% 100%;
         z-index: 10;
      }

      &__mob-bottom-search-close {
         position: absolute;
         top: 50%;
         transform: translate(0,-50%);
         width: 2.4rem;
         height: 2.4rem;
         z-index: 3;
         right: 3.2rem;
         
      }

      &__mob-bottom-hide-nav-tabs {
         display: flex;
         overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;
			padding: 0;
			 margin-bottom: 4rem;
      }


      &__mob-bottom-hide-nav-tabs::-webkit-scrollbar {
			display: none;
		}

      &__mob-bottom-hide-nav-tab-item {
         padding: 0.8rem 2.4rem;
         border-radius: 1.2rem;
         border: 0.2rem solid #D8DDE4;
         background: var(--White, #FFF);
         box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.50) inset, 0px 0px 9px 0px rgba(255, 255, 255, 0.50) inset;
         display: flex;
         justify-content: center;
         align-items:center;
         color:  #2F2F2F;
         font-family: 'Myriad Pro',sans-serif;
         font-size: 2.4rem;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
         margin-right: 1.6rem;
         
      }

      &__mob-bottom-hide-nav-tab-item.active {
         background:  #36B4F1;
         color: #fff;
      }

      &__mob-bottom-hide-nav-lists-item {
         margin-bottom: 3rem;
         color:  rgba(51, 51, 51, 0.50);
         font-family: 'Myriad Pro',sans-serif;
         font-size: 3.2rem;
         font-style: normal;
         font-weight: 400;
         line-height: 4.8rem;

         span {
            font-weight: 600;
            color: #36B4F1;
         }
      }

      &__mob-bottom-hide-nav-lists-item:last-child {
         margin-bottom: 0;
      }

      &__mob-bottom-hide-nav-lists {
         padding-right: 1.6rem;
      }

      &__mob-navigation {
        
      }

      &__mob-navigation-lists {
         border-top: 0.2rem solid #ECEFF0;
         padding: 0 4rem;
         border-bottom: 0.2rem solid #ECEFF0;
      }

      &__mob-navigation-lists-item {
         padding: 2.6rem 0;
         color:  #2F2F2F;
         font-family: 'Myriad Pro',sans-serif;
         font-size: 3.2rem;
         font-style: normal;
         font-weight: 400;
         line-height: 150%;
         border-top: 0.1rem solid rgba(153, 153, 153, 0.20);
         border-bottom: 0.1rem solid rgba(153, 153, 153, 0.20);
         
         a {
            display: flex;
            align-items:center;

            svg {
               width: 4rem;
               height: 4rem;
               margin-left: 2.4rem;
            }
         }
      }

      &__mob-navigation-lists-item-span {
         width: 100%;
         display: inline-block;
      }

      &__mob-navigation-lists-item:first-child {
         border-top: none;
      }

      &__mob-navigation-lists-item:last-child {
         border-bottom: none;
      }

      &__mob-navigation-info {
         display: flex;
         align-items:center;
         justify-content: center;
         flex-direction: column;
         padding-top: 6.6rem;
         padding-bottom: 6.6rem;
         border-bottom: 0.2rem solid #ECEFF0;
         a {
            display: block;
            color:  #2F2F2F;
            font-family: 'Myriad Pro',sans-serif;
            font-size: 3rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 3rem;
         }
      }


      &__mob-navigation-info-phone {
         color:  #2F2F2F;
         font-family: 'Golos',sans-serif;
         font-size: 2.4rem;
         font-style: normal;
         font-weight: 400;
         line-height: 73.088%;
         position: relative;
         padding-left: 5.2rem;
         margin-bottom: 2.6rem;
         &::before {
            position: absolute;
            content:'';
            width: 3.6rem;
            height: 3.6rem;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
            background-image: url(../img/d-image/icon/png-phone.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
         }
      }

      &__mob-navigation-info-clock {
         color:  #2F2F2F;
         font-family: 'Golos',sans-serif;
         font-size: 2.4rem;
         font-style: normal;
         font-weight: 400;
         line-height: 73.088%;
         position: relative;
         padding-left: 5rem;
         margin-bottom: 2.6rem;
         &::before {
            position: absolute;
            content:'';
            width: 3rem;
            height: 3rem;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
            background-image: url(../img/d-image/icon/clock-png.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
         }
      }

      &__mob-navigation-info-date {
         display: block;
         color:  #2F2F2F;
         font-family: 'Myriad Pro',sans-serif;
         font-size: 3rem;
         font-style: normal;
         font-weight: 600;
         line-height: normal;
      }

      &__mob-navigation-btns {
         padding: 6.4rem 4rem;
      }
      
      &__mob-navigation-btn {
         display: flex;
         justify-content: center;
         align-items:center;
         border-radius: 100rem;
         border: 0.2rem solid  #36B4F1;
         color:  #2F2F2F;
         font-family: 'Myriad Pro',sans-serif;
         font-size: 3rem;
         font-style: normal;
         font-weight: 400;
         line-height: 131.232% ;
         width: 100%;
         height: 10rem;
      }

      &__mob-navigation-lists-down-item {
         color:  rgba(51, 51, 51, 0.50);
         font-family: 'Myriad Pro',sans-serif;
         font-size: 2.6rem;
         font-style: normal;
         font-weight: 400;
         line-height: 120%;
         padding-top: 2.4rem;
         padding-bottom: 2.4rem;
         border-bottom: 0.2rem solid rgba(153, 153, 153, 0.20);
         width: 43rem;

      }



      &__mob-navigation-lists-item-span {
         position: relative;
         display: block;
         &::before {
            content: '';
            position: absolute;
            width: 3.6rem;
            height: 2rem;
            background-image: url(../img/d-image/icon/arrow-next.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            transition: 0.2s;
         }


      }


    .ui-accordion-header-active {
         &::before {
            transition: 0.2s;
            transform: rotate(90deg);
         }
      }


      

 
   }

  
}