.info {
  margin-bottom: 15.3rem;
}
.info__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__item {
  width: 29.8%;
  display: flex;
}
.info__item-sqr {
  margin-right: 4rem;
}
.info__item-text {
  width: 70%;
}
.info__item-text-title {
  font-family: "Montserrat";
  font-size: 2.5rem;
  line-height: 180%;
  margin-bottom: 0.5rem;
}
.info__item-text-description {
  font-family: "MyriadPro";
  font-size: 1.8rem;
  line-height: 133%;
  color: rgba(51, 51, 51, 0.5);
}
.info.info-specialnosti-napravlenia-detalna {
  position: relative;
  min-height: 52.4rem;
  margin-bottom: 18rem;
}
.info.info-specialnosti-napravlenia-detalna::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 66.2%;
  height: 52.4rem;
  background-color: #EEF3F7;
  z-index: -1;
}
.info.info-specialnosti-napravlenia-detalna .info .big-info-swiper2 {
  overflow: visible;
}
.info.info-specialnosti-napravlenia-detalna .info__inner {
  position: relative;
  padding-top: 12rem;
}
.info.info-specialnosti-napravlenia-detalna .info__content {
  width: 30%;
}
.info.info-specialnosti-napravlenia-detalna .info__content-subtitle {
  margin-bottom: 1.6rem;
}
.info.info-specialnosti-napravlenia-detalna .info__content-title {
  margin-bottom: 3.8rem;
  line-height: 125%;
}
.info.info-specialnosti-napravlenia-detalna .info__content-text {
  position: relative;
  padding-left: 4rem;
  font-family: "MyriadPro";
  font-size: 1.8rem;
  line-height: 135%;
  color: rgba(51, 51, 51, 0.5);
  width: 80%;
}
.info.info-specialnosti-napravlenia-detalna .info__content-text::after {
  position: absolute;
  content: "";
  left: 0rem;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #D8DDE4;
}
.info.info-specialnosti-napravlenia-detalna .info__item {
  width: 100%;
  display: block;
  padding: 2.8rem 3rem 3rem 3.2rem;
  padding-bottom: 3.5rem;
  box-shadow: 0px 2rem 6rem rgba(124, 148, 159, 0.1);
  background-color: #fff;
}
.info.info-specialnosti-napravlenia-detalna .info__item-text {
  width: 100%;
}
.info.info-specialnosti-napravlenia-detalna .info__item-text-title {
  font-family: "MyriadPro";
  font-size: 2.5rem;
  line-height: 128%;
  margin-bottom: 1.8rem;
}
.info.info-specialnosti-napravlenia-detalna .info__item-text-description {
  font-family: "MyriadPro";
  font-size: 1.8rem;
  line-height: 133%;
  color: rgba(51, 51, 51, 0.5);
}
.info.info-specialnosti-napravlenia-detalna .info__item-sqr {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 1.4rem;
  margin-bottom: 2.8rem;
}
.info.info-specialnosti-napravlenia-detalna .info__slider {
  position: absolute;
  right: 0;
  top: 54%;
  transform: translateY(-50%);
  width: 62%;
  padding: 7rem 0;
  overflow: hidden;
}
.info.info-specialnosti-napravlenia-detalna .info-specialnosti-swiper {
  overflow: visible;
}
.info.info-specialnosti-napravlenia-detalna .info-specialnosti-btn-next, .info.info-specialnosti-napravlenia-detalna .info-specialnosti-btn-prev {
  top: 5.5rem;
  bottom: unset;
}
.info.info-kontacti-centri {
  background: #EEF3F7;
  padding-top: 10.1rem;
  padding-bottom: 12rem;
  margin-bottom: 17.8rem;
}
.info.info-kontacti-centri .info__subtitle {
  margin-bottom: 1.8rem;
}
.info.info-kontacti-centri .info__title {
  margin-bottom: 6.3rem;
}
.info.info-kontacti-centri .info__inner {
  display: block;
}
.info.info-kontacti-centri .info__item {
  width: 100%;
  background-color: #fff;
  padding: 5.3rem 4.9rem 4.8rem 4.7rem;
  box-shadow: 0px 2rem 6rem rgba(124, 148, 159, 0.1);
  border-radius: 1rem;
}
.info.info-kontacti-centri .info__item-sqr {
  margin-right: 5rem;
  box-shadow: 0px 2rem 3rem rgba(64, 185, 244, 0.1);
}
.info.info-kontacti-centri .info__item-text {
  display: flex;
  align-items: center;
  width: 90%;
}
.info.info-kontacti-centri .info__item-text-title {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 130%;
  width: 56.7%;
  padding-right: 12rem;
  position: relative;
}
.info.info-kontacti-centri .info__item-text-title a {
  display: inline-block;
  margin-top: 1.2rem;
}
.info.info-kontacti-centri .info__item-text-title::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 13rem;
  width: 0.4rem;
  background: rgba(216, 221, 228, 0.5);
}
.info.info-kontacti-centri .info__item-text-description {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 100%;
  text-decoration-line: underline;
  color: rgba(51, 51, 51, 0.5);
  padding-left: 5.2rem;
  margin-top: -0.3rem;
}
.info.info-kontacti-centri .info__item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.info.info-centri-detalna {
  margin-bottom: 17.8rem;
}
.info.info-centri-detalna .info__subtitle {
  margin-bottom: 1.5rem;
}
.info.info-centri-detalna .info__title {
  margin-bottom: 6.5rem;
}
.info.info-centri-detalna .info__item {
  width: 21.1%;
}
.info.info-centri-detalna .info__item-text-title {
  font-family: "Montserrat";
  font-size: 1.8rem;
  line-height: 122%;
  margin-bottom: 0.8rem;
}
.info.info-centri-detalna .info__item-text-description {
  font-family: "MyriadPro";
  font-size: 1.8rem;
  line-height: 135%;
  color: rgba(51, 51, 51, 0.5);
}
.info.info-centri-detalna .info__item-sqr {
  margin-right: 3rem;
}
.info.info-simptomi-detalna {
  min-height: 58rem;
  margin-bottom: 18.2rem;
}
.info.info-simptomi-detalna .info__inner .big-info-btn-next, .info.info-simptomi-detalna .info__inner .big-info-btn-prev {
  bottom: unset;
  top: 5.4rem;
}
.info.info-simptomi-detalna .info__content-text {
  margin-bottom: 5rem;
  padding-left: 2rem;
}
.info.info-simptomi-detalna .info__content-btn {
  display: inline-block;
  padding: 1rem 8.6rem;
}
.info.info-simptomi-detalna .info__slider {
  top: 50%;
  padding: 0;
  box-shadow: 0px 2rem 6rem rgba(124, 148, 159, 0.1);
}
.info.info-simptomi-detalna .info__item {
  padding: 3rem 3rem 3rem 3.2rem;
  position: relative;
}
.info.info-simptomi-detalna .info__item-sqr {
  font-family: "MyriadPro";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 119%;
  color: rgba(51, 51, 51, 0.5);
  margin-bottom: 2rem;
  height: auto;
  width: auto;
}
.info.info-simptomi-detalna .info__item-text-title {
  margin-bottom: 2.2rem;
}
.info.info-simptomi-detalna .info__item-text-description {
  margin-bottom: 3.1rem;
  line-height: 135%;
  min-height: 12rem;
}
.info.info-simptomi-detalna .info__item-text-link {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
}
.info.info-simptomi-detalna .info::after {
  height: 58.4rem;
}
.info.info-simptomi-detalna::after {
  height: 58.4rem;
}

@media (max-width: 48em) {
  .info {
    margin-bottom: 20.4rem;
  }
  .info__inner {
    display: block;
  }
  .info__item {
    width: 100%;
  }
  .info__item:not(:last-child) {
    margin-bottom: 6.5rem;
  }
  .info__item-sqr {
    margin-right: 6rem;
  }
  .info__item-text-title {
    font-size: 3.6rem;
    line-height: 205%;
  }
  .info__item-text-description {
    font-size: 3.2rem;
  }
}/*# sourceMappingURL=info.css.map */