.information-for-applicants {
  padding: 4rem 0;
  &__content {
    display: flex;
    gap: 4rem;
    .content {
      &-left {
        display: flex;
        flex-direction: column;
        gap: 5.9rem;
      }
      &-right {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        &__text {
          font-family: MyriadPro;
          font-size: 1.8rem;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          color: rgba(51, 51, 51, 0.5);
        }
      }
    }
  }
  &__call-box {
    background: linear-gradient(180deg, #5fcbff 0%, #36b4f1 100%);
    padding: 4rem;
    color: #fff;
    .call-box {
      &__title {
        font-family: Montserrat;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 1.2rem;
      }
      &__text {
        font-family: MyriadPro;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        margin-bottom: 2.8rem;
      }
      &__links {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      &__link {
        display: flex;
        align-items: center;
        gap: 2.4rem;
      }
      &__icon {
        &.icon-phone {
          & > svg {
            width: 3rem;
            height: 3rem;
          }
        }
        &.icon-mail {
          padding-left: 0.5rem;
          & > svg {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }
      &__value {
        font-family: MyriadPro;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
  &__call-block {
    display: none;
    overflow: hidden;
  }
  &-details {
    &__call-block {
      display: block;
      width: 45.3rem;
      height: 40.2rem;
    }
  }
}

@media (max-width: 48rem) {
  .information-for-applicants {
    .component--title-head {
      margin-bottom: 6.4rem;
    }
    &__content {
      flex-direction: column-reverse;
      gap: 3.2rem;
      .content {
        &-left {
          gap: 8.2rem;
        }
        &-right {
          gap: 3.2rem;
          &__text {
            font-size: 2.6rem;
            line-height: 120%;
            margin-bottom: 3.2rem;
          }
        }
      }
    }
    &__call-box {
      display: none;
    }
    &__call-block {
      display: block;
    }
    &-details {
      &__call-block {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
