.leave-contacts {
  background: #f8f8f8;
  margin-bottom: 18rem;

  &__wrapper {
    display: flex;
  }

  &__left {
    position: relative;
    padding-right: 6rem;
    padding-top: 9.5rem;
  }

  &__title {
    color: #2f2f2f;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 3.2rem;
  }

  &__image-m {
    display: none;
  }

  &__circle {
    width: 30.2rem;
    height: 30.2rem;
    position: absolute;
    top: 50%;
    left: -10rem;
    transform: translate(0, -50%);
    z-index: 1;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
  }

  &__text {
    color: rgba(47, 47, 47, 0.35);
    font-family: 'Myriad Pro', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-right: 3rem;
    position: relative;
    z-index: 2;
  }

  &__bonus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 1.5rem;
    border-radius: 4.5rem;
    background: #36b4f1;
    color: #fff;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  &__image {
    width: 33rem;
    min-width: 33rem;
    height: 37.1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__right {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
    padding-left: 6rem;
  }

  &__form-title {
    color: #2f2f2f;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4rem;
  }

  &__form-label {
    position: relative;
    height: fit-content;
    display: block;
    height: 5.5rem;
    margin-bottom: 2rem;

    &::before {
      position: absolute;
      content: '';
      width: 2rem;
      height: 2rem;
      background-image: url(../img/d-image/icon/greyfon.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      top: 50%;
      transform: translate(0, -50%);
      left: 3rem;
    }

    input {
      width: 45.9rem;
      height: 100%;
      border-radius: 7.2rem;
      border: 0.1rem solid rgba(47, 47, 47, 0.35);
      background: #fff;
      padding-left: 6.9rem;
      padding-top: 1.9rem;
      padding-bottom: 1.7rem;

      color: rgba(47, 47, 47, 0.35);
      font-family: 'Myriad Pro', sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .btn {
    width: 23.6rem;
    margin-bottom: 1.9rem;
  }

<<<<<<< HEAD
    &__image-m {
      display: none;
    }

    &__circle {
        width: 30.2rem;
        height: 30.2rem;
        position: absolute;
        top: 50%;
        left: -10rem;
        transform: translate(0, -50%);
        z-index: 1;
    }
=======
  &__image-m {
    display: none;
  }
>>>>>>> upstream/main

  &__circle {
    width: 30.2rem;
    height: 30.2rem;
    position: absolute;
    top: 50%;
    left: -10rem;
    transform: translate(0, -50%);
    z-index: 1;
  }

  &-blog {
    background: #eef3f7;
    margin-bottom: 0;

    .btn {
      margin-bottom: 0;
      width: 30rem;
      height: 5rem;
    }

    .container {
      width: 100%;
    }

    .leave-contacts {
      &__form {
        width: 52.3rem;
      }

      &__right {
        background: #f8f8f8;
        width: 80rem;
        padding-top: 8.2rem;
      }

      &__form-title {
        margin-bottom: 3rem;
      }

      &__form-label {
        height: 5rem;

        .btn {
          display: none;
        }
      }

      &__left {
        position: relative;
        z-index: 2;
        width: 54.5rem;
        padding-top: 8rem;
        margin-left: 24rem;
      }

      &__title {
        margin-bottom: 4.2rem;
      }

      &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $list;
        border-radius: 50%;
        z-index: -2;
        left: 1rem;
      }

      &__form-btns {
        display: flex;
        column-gap: 2.7rem;
        align-items: center;
      }

      &__form-label::before {
        background: url('../img/dim-image/icons/email-2.svg');
        background-size: contain;
      }

      &__checkbox {
        input {
          &:checked + span:before {
            background-position: 50% 50%;
            background-size: 1.2rem 1.2rem;
            background-repeat: no-repeat;
            background-image: url('../img/dim-image/icons/subscribe-check-2.svg');
          }
        }

        span {
          color: $list;
          font-family: Myriad Pro, sans-serif;
          font-size: 1.2rem;
          line-height: 160%;
          padding-left: 3rem;

          &::before {
            width: 2rem;
            height: 2rem;
            border: 1px solid $list;
            left: 0;
            top: 0.8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 48em) {
  .leave-contacts {
    &-blog {
      background: $white;
      margin-bottom: 20rem;

      .btn {
        display: block;
        width: 100%;
        height: 10rem;
      }

      .container {
        padding: 0 4rem;
      }

      .leave-contacts {
        &__form {
          width: 100%;
        }

        &__wrapper {
          overflow: hidden;
        }

        &__image {
          order: -1;
          height: 42.4rem;
          position: relative;
          z-index: 4;
        }

        &__bonus {
          font-size: 3rem;
          padding: 1.6rem 3rem;
        }

        &__text {
          font-size: 3rem;
          margin-right: 4rem;
          line-height: 140%;
        }

        &__inner {
          justify-content: flex-start;
        }

        &__right {
          background: $white;
          width: 100%;
          padding: 6rem 4rem;
        }

        &__form-title {
          margin-bottom: 4rem;
          font-size: 4.4rem;
          max-width: 35rem;
        }

<<<<<<< HEAD
				&__form-label {
					height: 5rem;
=======
        &__form-label {
          height: 5rem;
>>>>>>> upstream/main

          .btn {
            display: none;
          }
<<<<<<< HEAD
				}
=======
        }
>>>>>>> upstream/main

        &__left {
          width: 100%;
          padding: 7.4rem 4rem 6rem 4rem;
          margin-left: 0;
          background: #eef3f7;
        }

        &__title {
          margin-bottom: 4rem;
        }

        &__circle {
          top: 10rem;
          left: -5.5rem;
          width: 30rem;
          height: 30rem;
        }

        &__form-btns {
          flex-direction: column;
          row-gap: 2rem;
          align-items: flex-start;
        }

        &__input {
          margin-bottom: 4rem;
        }

        &__form-label::before {
          background: url('../img/dim-image/icons/email-2.svg');
          background-size: contain;
        }

        &__checkbox {
          input {
            &:checked + span:before {
              background-position: 50% 50%;
              background-size: 2.4rem 2.4rem;
              background-repeat: no-repeat;
              background-image: url('../img/dim-image/icons/subscribe-check-2.svg');
            }
          }

          span {
            font-size: 2.7rem;
            line-height: 140%;
            padding-left: 6rem;

            &::before {
              width: 4rem;
              height: 4rem;
              top: 1.6rem;
            }
          }
        }
      }
    }
<<<<<<< HEAD
}


@media (max-width: 48em)  {

  .leave-contacts  {

    .container {
      padding: 0;
    }
=======
  }

  @media (max-width: 48em) {
    .leave-contacts {
      .container {
        padding: 0;
      }
>>>>>>> upstream/main
      &__wrapper {
        flex-direction: column;
      }

      &__left {
        padding: 6rem 4rem;
      }

      &__title {
        font-size: 5.4rem;
        max-width: 67rem;
        text-align: left;
        margin-bottom: 3.6rem;
      }

      &__inner {
<<<<<<< HEAD
         justify-content: space-between;
=======
        justify-content: space-between;
>>>>>>> upstream/main
      }

      &__text {
        font-size: 3.2rem;
      }

      &__bonus {
        font-size: 3.2rem;
        padding: 0.8rem 3rem;
        font-weight: 600;
      }

      &__circle {
        left: 25rem;
        width: 28rem;
        height: 28rem;
      }

      &__image {
        width: 100%;
        height: 38.4rem;
        img {
          object-fit: cover;
        }
      }

      &__right {
        padding: 6rem 4rem;
      }

      &__form-title {
        font-size: 5.4rem;
        font-style: normal;
        font-weight: 400;
<<<<<<< HEAD
        line-height: 125.926%; 
=======
        line-height: 125.926%;
>>>>>>> upstream/main
        margin-bottom: 6rem;
      }

      .btn {
        display: none;
      }

      &__form-label {
        margin-bottom: 3rem;
        &::before {
          width: 2.6rem;
          height: 2.6rem;
        }
        input {
          width: 66.9rem;
          font-size: 2.6rem;
        }
        height: 8rem;
        .btn {
<<<<<<< HEAD
         display: flex;
         position: absolute;
         top: 0;
        height: 8rem;
        right: 0;
=======
          display: flex;
          position: absolute;
          top: 0;
          height: 8rem;
          right: 0;
>>>>>>> upstream/main
        }
      }

      &__image-m {
        display: block;
      }

      &__image-d {
        display: none;
      }

      &__form-policy {
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        max-width: 100%;
        br {
          display: none;
        }
      }
<<<<<<< HEAD

     
  }
 

 }
=======
    }
  }
}
>>>>>>> upstream/main
