.licenzia {
   margin-bottom: 18rem;
   &__inner {
      position: relative;
   }
   &__subtitle {
      margin-bottom: 1.3rem;
   }
   &__title {
      width: 70%;
      margin-bottom: 5rem;
   }
   &__content {
      display: flex;
      justify-content: space-between;
      position: relative;
      &::after {
         top: 0rem;
         left: 0rem;
         position: absolute;
         content: '';
         width: 100%;
         height: 1px;
         background-color: #D8DDE4;
      }
   }
   &__info {
      width: 21%;
      padding-top: 6.2rem;
      position: relative;
      &::after {
         top: 6rem;
         right: -6rem;
         position: absolute;
         content: '';
         width: 1px;
         height: 87%;
         background-color: #D8DDE4;
      }
      &-title {
         font-family: "Montserrat";
         font-size: 2.5rem;
         line-height: 180%;
         margin-bottom: 2rem;
      }
      &-text {
         font-family: "MyriadPro";
         font-size: 1.8rem;
         line-height: 133%;
         color: rgba(51, 51, 51, 0.5);
         margin-bottom: 3.3rem;
      }
      &-link {

      }
   }
   &__slider {
      width: 70.1%;
      margin-right: 1.5rem;
      padding-top: 6rem;
      overflow: hidden;
   }
   &-swiper {
      overflow: visible;
      padding: 0 2rem;
   }
   &__item {
      cursor: pointer;
      &-img {
         width: 22.1rem;
         height: 33rem;
         margin-bottom: 1rem;
         transition: all 0.2s;
         & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
         }
         &.active {
            // width: 24.9rem;
            // height: 37.2rem;
            // margin-top: -4rem;
            transform: scale(1.13);
            margin-top: -2rem;
            margin-bottom: 3rem;
         }
      }
      &-number {
         font-family: "MyriadPro";
         font-weight: 600;
         font-size: 1.8rem;
         line-height: 122%;
         color: rgba(51, 51, 51, 0.5);
         & span {
            display: block;
            font-weight: 400;
            color: $fzAll;
         }
      }
   }
   &-btn-prev,
   &-btn-next {
      top: 11rem;
      bottom: unset;
      transform: translateY(0%);
   }
   &-pagination {
      left: unset;
      transform: translateX(0%);
      right: 17rem;
      top: 11.5rem;
   }
}

.about-licenzia {
   .licenzia {
      &__title {
         margin-bottom: 7.2rem;
      }
      &__content {
         &::after {
            content: none;
         }
      }
      &__info {
         &::after {
            content: none;
         }
      }
      &__slider {
         width: 100%;
         height: 34.2rem;
         padding-top: 0;
         margin: 0;
         overflow: visible;
      }
      &-swiper {
         position: relative;
         width: 74.5%;
         padding: 0 0 13.2rem;
         overflow: hidden;
         
      }
      &__item {
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 24.6rem;
         height: 34.2rem;
         margin-bottom: 0;
         margin-right: 2.1rem;
         background: #EEF3F7;
         box-shadow: 0rem 0.5rem 1.5rem 0rem rgba(30, 135, 250, 0.07);
         &-img {
            width: 22.2rem;
            height: 31.8rem;
            margin: 0;
            & img {
               width: 100%;
               height: 100%;
               object-fit: contain;
            }
         }
         &-btn {
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 7.6rem;
            height: 7.6rem;
            background: $blue;
            border-radius: 1.3rem;
            box-shadow: 0rem 2rem 3rem 0rem rgba(64, 185, 244, 0.10);
            & img {
               width: 3.6rem;
               height: 3.6rem;
            }
         }
      }
      &-btn-prev,
      &-btn-next {
         position: absolute;
         top: unset;
         bottom: 0;
      }
      &-btn-prev {
         left: unset;
      }
      &-btn-next {
         right: 0;
      }
      &-pagination {
         left: 0;
         transform: translateX(0%);
         right: unset;
         top: unset;
         bottom: 2.8rem;
      }
   }
   & .modal-licenzia {
      &__swiper {
         overflow: hidden;
      }
      &__wrapper {
         position: relative;
         padding: 9.1rem 0 11.8rem;
      }
      &__slider{
         display: none;
         position: fixed;
         z-index: 100;
         //display: flex;
         justify-content: center;
         align-items: center;
         top: 0;
         left: 0;
         width: 100vw;
         height: 100vh;
         overflow: hidden;
         &::after {
            content: '';
            position: absolute;
            z-index: 15;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(27, 66, 85, 0.20);
         }
         &-close {
            position: absolute;
            z-index: 155;
            right: 0;
            top: 0;
         }
         & .swiper-slide-active {
            position: relative;
            z-index: 55;
            top: 50%;
            left: 50%;
            width: 45.3rem;
            height: auto;
         }
         & .modal-licenzia__item {
            position: relative;
            z-index: 55;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 45.3rem !important;
            height: 67.7rem;
            //padding: 0 50rem;
            &-img{
               width: 100%;
               height: 100%;
               object-fit: contain;
            }
         }
         &.active {
            display: flex;
         }
      }
      &__wr {
         z-index: 105;
      }
      &-btn-prev,
      &-btn-next {
         position: absolute;
         z-index: 155;
         top: 50%;
         transform: translate(0,-50%);
      }
      &-btn-prev {
         left: 0;
      }
      &-btn-next {
         left: unset;
         right: 0;
      }
   }

}


@media (max-width: 48em) {
   .licenzia {
      margin-bottom: 20rem;
      &__subtitle {
         margin-bottom: 3.7rem;
      }
      &__title {
         width: 100%;
         margin-bottom: 21rem;
      }
      &__content {
         display: block;
      }
      &__info {
         width: 100%;
         padding-top: 7.7rem;
         margin-bottom: 8.1rem;
         &::after {
            content: none;
         }
         &-title {
            font-size: 3.62rem;
            margin-bottom: 3.5rem;
         }
         &-text {
            font-size: 3rem;
            line-height: 150%;
            margin-bottom: 4.5rem;
         }
      }
      &__slider {
         width: 106%;
         padding-top: 0;
      }
      &-swiper {
         padding: 0;
      }
      &-btn-prev,
      &-btn-next {
         top: 30rem;
      }
      &-btn-next {
         left: 9.8rem;
      }
      &-pagination {
         right: unset;
         left: 24rem;
         top: 28.4rem;
         font-size: 3rem;
         & .total {
            font-size: 4.2rem;
         }
      }
      &__item {
         &-img {
            width: 100%;
            height: 46.7rem;
            margin-bottom: 4.5rem;
            & img {
               object-fit: cover;
            }
         }
         &-number {
            font-size: 2.9rem;
            & span {
               font-size: 3.1rem;
            }
         }
      }
   }
   .about-licenzia {
      .licenzia {
         &__title {
            margin-bottom: 8rem;
         }
         &__info {
            padding-top: 0;
            &::after {
               content: none;
            }
         }
         &__slider {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding-top: 0;
            margin: 0;
            overflow: visible;
         }
         &-swiper {
            box-sizing: content-box;
            position: relative;
            width: 100%;
            height: 94.9rem;
            padding: 0 0 13rem;
            overflow: hidden;
         }
         &__item {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 31.4rem !important;
            height: 43.2rem;
            background: #EEF3F7;
            box-shadow: 0rem 1rem 3rem 0rem rgba(30, 135, 250, 0.07);
            &-img {
               width: 26.6rem;
               height: 38.4rem;
            }
            &-btn {
               position: absolute;
               right: 0;
               bottom: -1.3rem;
               display: flex;
               justify-content: center;
               align-items: center;
               width: 10.2rem;
               height: 10.2rem;
               background: $blue;
               border-radius: 1.3rem;
               box-shadow: 0rem 2rem 3rem 0rem rgba(64, 185, 244, 0.10);
               cursor: pointer;
               & img {
                  width: 4.8rem;
                  height: 4.8rem;
               }
            }
         }
         &-btn-prev,
         &-btn-next {
            position: absolute;
            top: unset;
            bottom: 0;
         }
         &-btn-prev {
            left: unset;
         }
         &-btn-next {
            right: 0;
            left: unset;
         }
         &-pagination {
            left: 0;
            transform: translateX(0%);
            right: unset;
            top: unset;
            bottom: 2.8rem;
         }
      }
      & .modal-licenzia {
         &__swiper {
            overflow: hidden;
         }
         &__wrapper {
            position: relative;
            padding: 0 4rem;
         }
         &__slider{
            display: none;
            position: fixed;
            z-index: 100;
            //display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            &::after {
               content: '';
               position: absolute;
               z-index: 15;
               top: 0;
               left: 0;
               width: 100vw;
               height: 100vh;
               background: rgba(27, 66, 85, 0.20);
            }
            &-close {
               display: none;
            }
            & .swiper-slide-active {
               position: relative;
               z-index: 55;
               top: 50%;
               left: 50%;
               width: 38.2rem;
               height: auto;
            }
            & .modal-licenzia__item {
               position: relative;
               z-index: 55;
               top: 0;
               left: 50%;
               transform: translate(-50%, 0);
               width: 38.2rem !important;
               height: 57rem;
               &-img{
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
               }
            }
            &.active {
               display: flex;
            }
         }
         &-btn-prev,
         &-btn-next {
            position: absolute;
            z-index: 155;
            top: 50%;
            transform: translate(0,-50%);
         }
         &-btn-prev {
            left: 4rem;
         }
         &-btn-next {
            left: unset;
            right: 4rem;
         }
      }
   }
}