.offer-banner {
    position: relative;
    margin-bottom: 4rem;
    &__swiper {
        width: 100%;
    }

   

    &__box-img-d {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__box {
        position: relative;
        width: 100%;
        height: 12.3rem;
    }

    &__box-link {
        color: #00B7F4;
        font-family: 'Myriad Pro',sans-serif;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 0.65rem;
        padding-left: 12rem;
        padding-top: 2.5rem;
        display: block;
    }

    &__box-text {
        color:  #2F2F2F;
        font-family: 'Montserrat',sans-serif;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        width: 58.8rem;
        margin-left: 12rem;
    }

    &__arrows {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        padding-left: 5.5rem;
        padding-right: 5.5rem;
        z-index: 3;
        width: 100%;

    }

    &__prev,
    &__next {
        width: 0.8rem;
        height: 1.4rem;
        cursor: pointer;
    }


}



@media (max-width: 48em) { 
    .offer-banner {
        padding-left: 4rem;
       
        &__arrows {
            display: none;
        }

        &__box {
            height: auto;
        }
    
        &__box-img-d {
            display: none;
        }

        &__box-img-m {
            display: block;
            width: 100%;
            height: 13.6rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__box-link {
            padding-left: 0;
            padding-top: 0;
            font-size: 3rem;
            font-style: normal;
            font-weight: 600;
            line-height: 186.667%;
        }

        &__box-text {
            max-width: auto;
            width: auto;
            margin-left: 0;
            margin-bottom: 2rem;
            line-height: normal;
            font-size: 3.2rem;
        }
    }

   
    
}