.part-team {
  position: relative;
  margin-bottom: 18rem;
  &::after {
    position: absolute;
    content: '';
    left: 0rem;
    bottom: 0;
    width: 100%;
    height: 5.3rem;
    background: #FFF;
    box-shadow: 0px 17px 76px 0px rgba(0, 0, 0, 0.04) inset;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 3.4rem 0 4rem;
  }
  &__content {
    width: 52.4rem;
    &-subtitle {
      margin-bottom: 1.6rem;
    }
    &-title {
      margin-bottom: 4rem;
    }
    &-aside {
      font-family: "MyriadPro";
      font-size: 1.8rem;
      line-height: 2.4rem;
      color: rgba(51, 51, 51, 0.5);
      margin-bottom: 2.5rem;
      margin-left: 2.1rem;
    }
    &-txt {
      font-family: "MyriadPro";
      font-size: 1.8rem;
      line-height: 2.4rem;
      color: rgba(51, 51, 51, 0.5);
      margin-bottom: 6rem;
    }
  }
  &__image {
    width: 31rem;
    height: 49.5rem;
    margin-top: 10.2rem;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__insert {
    position: relative;
    width: 46rem;
    height: fit-content;
    padding: 3rem 2rem 3rem 16.3rem;
    background: #EEF3F7;
    margin-top: 25.8rem;
    &-img {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 16.5rem;
      height: 27.2rem;
      & > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-title {
      font-family: Montserrat;
      font-size: 2rem;
      font-weight: 600;
      line-height: 2.8rem;
      color: #2F2F2F;
      margin-bottom: 1.5rem;
    }
    &-text {
      font-family: Montserrat;
      font-size: 2rem;
      font-weight: 400;
      line-height: 2.6rem;
      color: #2F2F2F;
    }
  }
}
