.price-list {
  margin-bottom: 18rem;

  // .price-list__container

  &__container {
  }

  // .price-list__head

  &__head {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
  }

  // .price-list__subtitle

  &__subtitle {
    margin-bottom: 1.6rem;
  }

  // .price-list__title

  &__title {
  }

  // .price-list__body

  &__body {
    display: flex;
    flex-direction: column;
  }

  // .price-list__spoilers

  &__spoilers {
    margin-bottom: 2.5rem;
  }

  // .price-list__spoiler

  &__spoiler {
  }

  // .price-list__form

  &__form {
    margin-bottom: 2.5rem;
  }

  // .price-list__services-group

  &__services-group {
    margin-bottom: 4rem;
    display: grid;
    grid-auto-rows: 1fr;
    row-gap: 2.9rem;
  }

  // .price-list__page-navigation

  &__page-navigation {
    align-self: flex-end;
  }
}

.spoiler-price-list {
  // .spoiler-price-list__letters

  &__letters {
    display: none;
  }

  // .spoiler-price-list__title

  &__title {
    padding: 0.5rem 2.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 1rem;
    background-color: #f5f8fb;
    &._spoiler-active {
      &::after {
        transform: rotate(-180deg);
      }
    }
    &::after {
      content: '';
      width: 2rem;
      height: 2rem;
      background-image: url('../img/icons/select-arrow-blue.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.3s ease;
    }
  }

  // .spoiler-price-list__alphabet-index

  &__alphabet-index {
    margin-right: auto;
    display: flex;
    column-gap: 0.5rem;
    color: #2f2f2f;
    span:last-child {
      display: flex;
      column-gap: 0.5rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $blue;
      &::before {
        content: '-';
        font-weight: 400;
        color: #2f2f2f;
      }
    }
  }

  // .spoiler-price-list__service

  &__service {
    margin-right: auto;
    padding: 0.6rem 2.8rem;
    border-radius: 0.8rem;
    font-weight: 600;
    color: $blue;
    text-align: center;
    background: linear-gradient(0deg, #ffffff 0%, #fff 100%), #36b4f1;
  }

  // .spoiler-price-list__body

  &__body {
  }

  // .spoiler-price-list__group

  &__group {
    padding-top: 2.4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  // .spoiler-price-list__group-column

  &__group-column {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  // .spoiler-price-list__group-item

  &__group-item {
    display: grid;
    grid-template-columns: 4.5rem 1fr;
    column-gap: 3rem;
    &._active {
      .spoiler-price-list__letter {
        color: $blue;
      }
    }
  }

  // .spoiler-price-list__letter

  &__letter {
    color: #eef3f7;
    font-family: MyriadPro;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 100.781%;
    text-transform: uppercase;
    transition: color 0.3s ease;
    &._active {
      color: $blue;
    }
  }

  // .spoiler-price-list__list

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  // .spoiler-price-list__list-item

  &__list-item {
    font-size: 1.6rem;
    line-height: 150%;
    cursor: pointer;
    transition: color 0.3s ease;
    &._active {
      color: $blue;
    }
  }
}

.form-price-list {
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  border: 1px solid #d8dde4;
  background-color: #ffffff;
  transition: all 0.3s ease;

  // .form-price-list__search-box

  &__search-box {
  }

  // .form-price-list__input-wrap

  &__input-wrap {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    &::before {
      content: '';
      width: 2.4rem;
      height: 2.4rem;
      background-image: url(../img/icons/search.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: calc(100% - 1.5rem);
      top: 50%;
      right: 0;
      background-color: #d8dde4;
      transform: translateY(-50%);
    }
  }

  // .form-price-list__input

  &__input {
    padding: 0.5rem 1.5rem;
    height: 100%;
    border: none;
    color: #2f2f2f;
    background-color: transparent;
    &::placeholder {
      color: rgba(51, 51, 51, 0.5);
    }
  }

  // .form-price-list__select

  &__select {
    padding: 0.5rem 4.5rem;
    min-height: 100%;
    .select {
      height: 100%;
    }
    .select__title {
      display: flex;
      align-items: center;
      column-gap: 2rem;
      &::before {
        content: '';
        width: 2.4rem;
        height: 2.4rem;
        background-image: url(../img/icons/filter.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .select__content {
      display: none;
    }
    .select__options {
      top: calc(100% + 1.3rem);
      padding: 0.5rem;
      border: 1px solid #d8dde4;
      border-radius: 0.8rem;
    }
    .select__option {
      @extend .txt;
      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      color: #2f2f2f;
    }
  }

  // .form-price-list__btn

  &__btn {
    min-width: 17.2rem;
    height: 4rem;
    border-radius: 0.8rem;
  }
}

.services-price-list {
  padding: 3.2rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: #f8fafd;

  // .services-price-list__heading

  &__heading {
    margin-bottom: 3.2rem;
    font-weight: 400;
  }

  // .services-price-list__group

  &__group {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
  }

  // .services-price-list__item

  &__item {
    padding: 1.7rem 4rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2rem 6rem 0 rgba(124, 148, 159, 0.05);
  }

  // .services-price-list__service

  &__service {
    flex: 1 1 auto;
    font-weight: 500;
    color: #2f2f2f;
  }

  // .services-price-list__prices

  &__prices {
    position: relative;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 11.1rem;
    align-items: center;
    column-gap: 1rem;
    height: 100%;
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #d8dde4;
    }
  }

  // .services-price-list__price-current

  &__price-current {
    font-weight: 600;
  }

  // .services-price-list__price-old

  &__price-old {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    font-family: MyriadPro;
    font-size: 1.6rem;
    span:first-child {
      color: #d8dde4;
      text-decoration: line-through;
    }
    span:last-child {
      color: #fe7200;
    }
  }

  // .services-price-list__btn

  &__btn {
    min-width: 18.7rem;
    height: 4.2rem;
  }

  // .services-price-list__btn-link

  &__btn-link {
    display: none;
  }

  // .services-price-list__link

  &__link {
    align-self: center;
    &::after {
      transform: rotate(90deg);
    }
  }
}

@media (max-width: 48em) {
  .price-list {
    &__head {
      margin-bottom: 6.4rem;
    }
    &__services-group {
      margin-left: -4rem;
      margin-bottom: 6.4rem;
      grid-auto-rows: auto;
      width: 100vw;
    }
    &__form {
      margin-bottom: 6.4rem;
    }
    &__title {
      max-width: 67rem;
    }
    &__spoilers {
      margin-bottom: 2rem;
    }
    &__page-navigation {
      align-self: center;
    }
    .spoiler-price-list {
      margin-bottom: 2.4rem;
      &__group-item {
        display: none;
        &._active {
          display: grid;
        }
      }
      &__letters {
        padding-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: 2.8rem;
        row-gap: 2rem;
      }
      &__title {
        padding: 1rem 3rem;
        display: flex;
        justify-content: space-between;
        border-radius: 1.2rem;
        &::after {
          width: 3rem;
          height: 3rem;
        }
      }
      &__alphabet-index {
        span:first-child {
          display: none;
        }
      }
      &__service {
        padding: 1.2rem 2rem;
        max-width: 39rem;
        border-radius: 1.6rem;
      }
      &__group {
        padding-bottom: 3rem;
        display: block;
      }
      &__list-item {
        max-width: 39.4rem;
        font-size: 3.2rem;
      }
    }
    .form-price-list {
      padding: 0;
      height: 7.6rem;
      &__select {
        padding: 0;
      }
      .select {
        position: static;
      }
      .select__body {
        position: static;
      }
      .select__options {
        top: 104%;
      }
      .select__title {
        padding: 0;
        margin-right: 1rem;
        &::before {
          width: 4rem;
          height: 4rem;
        }
      }
      .select__value {
        &::before,
        &::after {
          display: none;
        }
      }
      &__input-wrap {
        padding: 0;
        &::before,
        &::after {
          display: none;
        }
      }
      &__input {
        padding: 2.4rem 3.2rem;
        font-size: 3rem;
      }
      &__btn {
        position: relative;
        min-width: auto;
        width: 10.8rem;
        height: 100%;
        span {
          display: none;
        }
        &::before {
          content: '';
          width: 5rem;
          height: 5rem;
          background-image: url(../img/icons/search-white.svg);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      &__search-box {
        border-top: 1px solid #d8dde4;
      }
    }
    .services-price-list {
      padding: 8rem 4rem 6.4rem 4rem;
      &__heading {
        margin-bottom: 6.4rem;
        font-weight: 600;
        font-size: 3.6rem;
      }
      &__group {
        margin-bottom: 6.4rem;
        row-gap: 0.8rem;
      }
      &__services {
        padding: 8rem 4rem;
      }
      &__service {
        margin-bottom: 1.6rem;
        grid-column: span 2;
        font-size: 3.2rem;
      }
      &__prices {
        padding: 0;
        grid-template-columns: 1fr;
        &::before {
          display: none;
        }
      }
      &__price-old {
        flex-direction: row;
        column-gap: 1.6rem;
        font-size: 2.6rem;
        span:first-child {
          color: rgba(51, 51, 51, 0.5);
        }
      }
      &__item {
        padding: 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      &__btn {
        display: none;
      }
      &__btn-link {
        display: flex;
        justify-self: end;
        align-self: end;
      }
      &__link {
        &.link {
          column-gap: 1.5rem;
        }
        &::after {
          transform: none;
        }
      }
    }
    .alphabet-filter {
      margin-bottom: 1.8rem;
      display: block;
      &__group {
        padding-bottom: 4rem;
      }
    }
  }
}
@media (min-width: 48em) {
  .price-list {
    .alphabet-filter {
      display: none;
    }
    .spoiler-price-list {
      &__service,
      &__alphabet-index span:last-child {
        transition: all 0.3s ease;
        ._spoiler-active & {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    .form-price-list {
      ._search-box-open & {
        border-radius: 1rem 1rem 0 0;
        border: 1px solid #d8dde4;
        border-bottom: none;
      }
    }
  }
}
