.price-list {
  margin-bottom: 18rem;

  // .price-list__container

  &__container {
  }

  // .price-list__head

  &__head {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
  }

  // .price-list__subtitle

  &__subtitle {
    margin-bottom: 1.6rem;
  }

  // .price-list__title

  &__title {
  }

  // .price-list__body

  &__body {
    display: flex;
    flex-direction: column;
  }

  // .price-list__spoilers

  &__spoilers {
    margin-bottom: 2.5rem;
  }

  // .price-list__spoiler

  &__spoiler {
  }

  // .price-list__form

  &__form {
    margin-bottom: 2.5rem;
  }

  // .price-list__services-group

  &__services-group {
    margin-bottom: 4rem;
    display: grid;
    grid-auto-rows: 1fr;
    row-gap: 2.9rem;
  }

  // .price-list__page-navigation

  &__page-navigation {
    align-self: flex-end;
  }
}

.spoiler-price-list {
  // .spoiler-price-list__letters

  &__letters {
    display: none;
  }

  // .spoiler-price-list__title

  &__title {
    padding: 0.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 1rem;
    background-color: #f5f8fb;
    &._spoiler-active {
      &::after {
        transform: rotate(-180deg);
      }
    }
    &::after {
      content: '';
      width: 2rem;
      height: 2rem;
      background-image: url('../img/icons/select-arrow-blue.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.3s ease;
    }
  }

  // .spoiler-price-list__alphabet-index

  &__alphabet-index {
    margin-right: auto;
    display: flex;
    column-gap: 0.5rem;
    color: #2f2f2f;
    span:last-child {
      display: flex;
      column-gap: 0.5rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $blue;
      &::before {
        content: '-';
        font-weight: 400;
        color: #2f2f2f;
      }
    }
  }

  // .spoiler-price-list__service

  &__service {
    margin-right: 20rem;
    padding: 0.6rem 2.8rem;
    max-width: 47rem;
    border-radius: 0.8rem;
    font-weight: 600;
    color: $blue;
    text-align: center;
    background-color: #ffffff;
  }

  // .spoiler-price-list__body

  &__body {
  }

  // .spoiler-price-list__group

  &__group {
    padding-top: 2.4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  // .spoiler-price-list__group-column

  &__group-column {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  // .spoiler-price-list__group-item

  &__group-item {
    display: grid;
    grid-template-columns: 4.5rem 1fr;
    column-gap: 3rem;
    &._active {
      .spoiler-price-list__letter {
        color: $blue;
      }
    }
  }

  // .spoiler-price-list__letter

  &__letter {
    color: #eef3f7;
    font-family: MyriadPro;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 100.781%;
    text-transform: uppercase;
    transition: color 0.3s ease;
    &._active {
      color: $blue;
    }
  }

  // .spoiler-price-list__list

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  // .spoiler-price-list__list-item

  &__list-item {
    font-size: 1.6rem;
    line-height: 150%;
    cursor: pointer;
    transition: color 0.3s ease;
    &._active {
      color: $blue;
    }
  }
}

.services-price-list {
  padding: 3.2rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: #f8fafd;

  // .services-price-list__item

  &__item {
    height: 7.5rem;
  }

  // .services-price-list__heading

  &__heading {
    margin-bottom: 3.2rem;
    font-weight: 400;
  }

  // .services-price-list__group

  &__group {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
  }

  // .services-price-list__link

  &__link {
    align-self: center;
    &::after {
      transform: rotate(90deg);
    }
  }
}

@media (max-width: 48em) {
  .price-list {
    &__head {
      margin-bottom: 6.4rem;
    }
    &__services-group {
      margin-left: -4rem;
      margin-bottom: 6.4rem;
      grid-auto-rows: auto;
      width: 100vw;
    }
    &__form {
      margin-bottom: 6.4rem;
    }
    &__title {
      max-width: 50rem;
    }
    &__spoilers {
      margin-bottom: 2rem;
    }
    &__page-navigation {
      align-self: center;
    }
    .spoiler-price-list {
      margin-bottom: 2.4rem;
      &__group-item {
        display: none;
        &._active {
          display: grid;
        }
      }
      &__letters {
        padding-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: 2.8rem;
        row-gap: 2rem;
      }
      &__title {
        padding: 1rem 3rem;
        display: flex;
        justify-content: space-between;
        border-radius: 1.2rem;
        &::after {
          width: 3rem;
          height: 3rem;
        }
      }
      &__alphabet-index {
        margin-right: 0;
        span:first-child {
          display: none;
        }
      }
      &__service {
        margin-right: 0;
        padding: 1.2rem 2rem;
        max-width: 39rem;
        border-radius: 1.6rem;
      }
      &__group {
        padding-bottom: 3rem;
        display: block;
      }
      &__list-item {
        max-width: 39.4rem;
        font-size: 3.2rem;
      }
    }
    .services-price-list {
      padding: 8rem 4rem 6.4rem 4rem;
      &__heading {
        margin-bottom: 6.4rem;
        font-weight: 600;
        font-size: 3.6rem;
      }
      &__group {
        margin-bottom: 6.4rem;
        row-gap: 0.8rem;
      }
      &__services {
        padding: 8rem 4rem;
      }
      &__item {
        height: auto;
      }
      &__link {
        &.link {
          column-gap: 1.5rem;
        }
        &::after {
          transform: none;
        }
      }
    }
    .alphabet-filter {
      margin-bottom: 1.8rem;
      display: block;
      &__group {
        padding-bottom: 4rem;
      }
    }
  }
}
@media (min-width: 48em) {
  .price-list {
    .alphabet-filter {
      display: none;
    }
    .spoiler-price-list {
      &__title {
        &._spoiler-active {
          .spoiler-price-list__service,
          .spoiler-price-list__alphabet-index span:last-child {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
      &__service,
      &__alphabet-index span:last-child {
        transition: all 0.3s ease;
      }
    }
  }
}
