.progress {
   margin-bottom: 18rem;
   padding-top: 4.2rem;
   &__inner {
      padding: 0 1rem;
   }
   &__subtitle {

   }
   &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6.8rem;
      &-btn {
         height: 5.8rem;
         margin-top: 0.5rem;
         padding-left: 2.7rem;
         padding-right: 2.7rem;
      }
   }
   &__items {
      display: flex;
      justify-content: space-between;
   }
   &__item {
      width: 20.8%;
      /* box-shadow: 0px 2rem 9rem rgba(124, 148, 159, 0.1); */
      padding: 1rem;
      padding-bottom: 1.2rem;
      background: #EEF3F7;
      &-number {
         font-family: "MyriadPro";
         font-weight: 600;
         font-size: 1.6rem;
         line-height: 119%;
         color: rgba(51, 51, 51, 0.5);
         margin-bottom: 1.4rem;
      }
      &-name {
         font-family: "Montserrat";
         font-size: 1.8rem;
         line-height: 122%;
         text-align: center;
         padding: 0 2rem;
         margin-bottom: 2.3rem;
      }
      &-name2 {
         margin-bottom: 0.3rem;
      }
      &-num {
         font-family: "Montserrat";
         font-weight: 700;
         font-size: 4rem;
         line-height: 122%;
         text-align: center;
         padding: 0 4rem;
         & span {
            font-size: 2rem;
            margin-left: 0.8rem;
            & span {
               color: #FE7200;
               font-size: 4rem;
            }
         }
      }
      &-num2 {
         line-height: 103%;
      }
   }
}


@media (max-width: 48em) {
   .progress {
      margin-bottom: 38.4rem;
      &__inner {
         position: relative;
      }
      &__subtitle {

      }
      &__header {
         margin-bottom: 6.5rem;
         &-title {

         }
         &-btn {
            position: absolute;
            left: 0rem;
            bottom: -18rem;
            width: 100%;
            height: 10rem;
         }

      }
      &__items {
         display: block;
      }
      &__item {
         width: 100%;
         padding: 1.7rem 2rem 8.5rem 2rem;
         box-shadow: 0px 4rem 18rem rgba(124, 148, 159, 0.1);
         &:not(:last-child) {
            margin-bottom: 4rem;
         }
         &-number {
            font-size: 3.3rem;
            margin-bottom: 3.4rem;
         }
         &-name {
            font-size: 3.2rem;
            padding:  0 8rem;
            line-height: 140%;
            margin-bottom: 4.4rem;
         }
         &-num {
            font-size: 7rem;
            padding: 0 10rem;
            & span {
               font-size: 4rem;
               margin-left: 1.5rem;
               & span {
                  font-size: 7rem;
               }
            }
         }
         &-num2 {
            line-height: 104%;
            margin-top: -2rem;
         }
      }
   }
}