.progress {
  margin-bottom: 18rem;

  // .progress__container

  &__container {
    display: flex;
    flex-direction: column;
  }

  // .progress__head

  &__head {
    margin-bottom: 6.8rem;
    display: flex;
    justify-content: space-between;
  }

  // .progress__title-wrap

  &__title-wrap {
    display: flex;
    flex-direction: column;
  }

  // .progress__subtitle

  &__subtitle {
    margin-bottom: 0.5rem;
  }

  // .progress__title

  &__title {
  }

  // .progress__btn

  &__btn {
    align-self: flex-end;
    min-width: 29.6rem;
  }

  // .progress__body

  &__body {
    display: grid;
  }

  // .progress__card

  &__card {
  }
}

.progress-card {
  padding: 5.2rem 3.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2rem 6rem 0 rgba(124, 148, 159, 0.07);
  background: #ffffff;

  // .progress-card__icon-wrap

  &__icon-wrap {
    margin-bottom: 2.8rem;
    width: 8.3rem;
  }

  // .progress-card__icon

  &__icon {
    object-fit: contain;
  }

  // .progress-card__heading

  &__heading {
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 120%;
    color: #2f2f2f;
  }

  // .progress-card__text

  &__text {
    color: rgba(51, 51, 51, 0.5);
  }
}

@media (max-width: 48em) {
  .progress {
    margin-bottom: 16rem;

    // .progress__container

    &__container {
    }

    // .progress__head

    &__head {
      margin-bottom: 6.4rem;
    }

    // .progress__title-wrap

    &__title-wrap {
    }

    // .progress__subtitle

    &__subtitle {
      margin-bottom: 1.6rem;
    }

    // .progress__title

    &__title {
    }

    // .progress__btn

    &__btn {
      display: none;
    }

    // .progress__body

    &__body {
      row-gap: 3.2rem;
    }

    // .progress__card

    &__card {
    }
  }

  .progress-card {
    padding: 4rem 3.2rem;

    // .progress-card__icon-wrap

    &__icon-wrap {
      margin-bottom: 3.2rem;
      width: 6.6rem;
    }

    // .progress-card__icon

    &__icon {
    }

    // .progress-card__heading

    &__heading {
      margin-bottom: 2.4rem;
      font-size: 3rem;
      font-weight: 600;
    }

    // .progress-card__text

    &__text {
    }
  }
}
@media (min-width: 48em) {
  .progress {
    // .progress__container

    &__container {
    }

    // .progress__head

    &__head {
    }

    // .progress__title-wrap

    &__title-wrap {
    }

    // .progress__subtitle

    &__subtitle {
    }

    // .progress__title

    &__title {
    }

    // .progress__btn

    &__btn {
    }

    // .progress__body

    &__body {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 4.1rem;
    }

    // .progress__card

    &__card {
    }
  }

  .progress-card {
    align-items: center;
    min-height: 35rem;
    text-align: center;

    // .progress-card__icon-wrap

    &__icon-wrap {
    }

    // .progress-card__icon

    &__icon {
    }

    // .progress-card__heading

    &__heading {
      flex: 1 1 auto;
    }

    // .progress-card__text

    &__text {
      max-width: 40.3rem;
    }
  }
}
