.questions-accordion {
  margin-bottom: 18rem;
  #accordion-questions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
  }
  .accordion {
    &-element {
      box-shadow: 0px 2rem 6rem 0px rgba(124, 148, 159, 0.1);
      &.acc_active {
        .accordion {
          &-swap {
            background-color: #eef3f7;
            & > svg {
              transform: rotate(45deg);
              transition: transform 0.25s linear;
              line {
                fill: #36b4f1;
                stroke: #36b4f1;
              }
            }
          }
        }
      }
    }
    &-swap {
      position: absolute;
      top: 50%;
      right: 4rem;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: #36b4f1;
      & > svg {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
    &-title {
      font-family: Montserrat;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      color: #2f2f2f;
      padding: 3.8rem 18.6rem 3.8rem 4rem;
      position: relative;
    }
    &-text {
      font-family: MyriadPro;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      color: rgba(51, 51, 51, 0.5);
      padding: 4rem;
      padding-top: 0;
      & > span {
        color: #36b4f1;
      }
    }
  }
  &__btn-box {
    .component--link-btn {
      &::after {
        transform: rotate(90deg);
      }
    }
  }
}

@media (max-width: 48em) {
  .questions-accordion {
    margin-bottom: 15rem;
    .accordion {
      &-swap {
        &.swap-start-mob {
          top: 2.4rem;
          transform: translateY(0);
        }
      }
      &-title {
        font-family: MyriadPro;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 150%;
        padding: 2.4rem 12.8rem 4rem 4rem;
      }
      &-text {
        font-size: 2.6rem;
        padding: 4rem;
        padding-top: 0;
      }
    }
  }
}
