.reviews {
  margin-bottom: 18rem;
  &__inner {
    position: relative;
  }
  &__subtitle {
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.8rem;
    &-title {
    }
    &-link {
      min-width: 18.6rem;
    }
    &-links {
      display: flex;
      align-items: center;
      align-self: flex-end;
      column-gap: 4rem;
    }
  }
  &__item {
    display: flex;
    column-gap: 4rem;
    &-img {
      flex: 0 0 40rem;
      background-color: #eef3f7;
      position: relative;
      &-photo {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        & img {
          width: auto;
          height: 100%;
          object-fit: contain;
        }
      }
      &-info {
        display: grid;
        width: 29.7rem;
        position: absolute;
        left: -0.1rem;
        bottom: 2rem;
        background-color: #fff;
        padding: 2rem;
        row-gap: 0.4rem;
        &-data {
          @extend .txt;
          font-weight: 600;
        }
        &-wrap {
          display: flex;
          justify-content: space-between;
        }
        &-text {
          @extend .txt;
          font-size: 1.6rem;
        }
        &-reating {
          display: flex;
          align-self: flex-end;
          justify-content: flex-end;
          align-items: center;
          column-gap: 0.8rem;
          &-number {
            font-size: 4.5rem;
            font-weight: 600;
          }
          &-star {
            width: 2.4rem;
            height: 2.4rem;
          }
        }
      }
    }
    &-info {
      padding: 4rem;
      flex: 1 1 auto;
      box-shadow: 0 2rem 9rem rgba(124, 148, 159, 0.1);
      &-data {
        position: relative;
        margin-bottom: 1.8rem;
        display: flex;
        justify-content: space-between;
        &-name {
          display: flex;
          flex-direction: column;
          row-gap: 0.8rem;
          & span {
            color: rgba(51, 51, 51, 0.5);
          }
        }
        &-pl {
          display: flex;
          align-items: center;
          &-img {
            width: 3rem;
            height: 2.4rem;
            margin-right: 1rem;
            & img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              mix-blend-mode: multiply;
            }
          }
          &-link {
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 110%;
            color: $blue;
            position: relative;
            &::after {
              position: absolute;
              left: 0;
              bottom: -0.1rem;
              content: '';
              width: 100%;
              height: 1px;
              background-color: $blue;
            }
          }
        }
        &-reating {
          text-align: right;
          &-wrap {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;
            column-gap: 2rem;
          }
          &-subtitle {
            margin-bottom: 2rem;
            color: rgba(51, 51, 51, 0.5);
          }
          &-number {
            font-family: 'MyriadPro';
            font-size: 4.5rem;
            font-weight: 600;
          }
          &-stars {
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
          &-link {
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 110%;
            text-align: right;
            color: rgba(51, 51, 51, 0.5);
            a {
              color: $blue;
              display: block;
            }
          }
        }
      }
      &-advantages {
        margin-bottom: 2.3rem;
        &-subtitle {
          margin-bottom: 0.8rem;
          color: $blue;
          font-family: MyriadPro;
          font-size: 1.6rem;
          font-weight: 600;
          text-transform: uppercase;
        }
        &-text {
          max-width: 88rem;
          color: rgba(51, 51, 51, 0.5);
        }
      }
      &-flaws {
        margin-bottom: 2.3rem;
        &-subtitle {
          @extend .reviews__item-info-advantages-subtitle;
          color: #fe7200;
        }
        &-text {
          @extend .reviews__item-info-advantages-text;
        }
      }
      &-comments {
        &-subtitle {
          @extend .reviews__item-info-advantages-subtitle;
        }
        &-text {
          @extend .reviews__item-info-advantages-text;
          margin-bottom: 3.7rem;
        }
        &-more {
        }
      }
    }
  }
  &-swiper {
    margin-bottom: 4rem;
    &.swiper-container {
      overflow: visible;
    }
  }
  &__swiper-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-btn-next {
  }
  &-btn-prev {
  }
  &-otzivi {
    margin-bottom: 18rem;
    .reviews {
      &__item {
        padding: 4.8rem 4.95rem 5.6rem 6.05rem;
        background-color: #eef3f7;
        &:not(:last-child) {
          margin-bottom: 3.2rem;
        }
        &-data {
          width: 35%;
          &-name {
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 3.5rem;
            line-height: 110%;
            margin-bottom: 0.7rem;
          }
          &-clinic {
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 150%;
            color: rgba(51, 51, 51, 0.5);
            position: relative;
            padding-left: 3.6rem;
            margin-bottom: 4.3rem;
            &::after {
              position: absolute;
              content: '';
              left: 0rem;
              top: 50%;
              transform: translateY(-50%);
              width: 2.1rem;
              height: 2.1rem;
              background-image: url(../img/icons/map.png);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
          &-doctor {
            font-family: 'Montserrat';
            font-size: 1.8rem;
            line-height: 129.5%;
            color: $fzAll;
            font-weight: 400;
            margin-bottom: 1.1rem;
            & span {
              font-weight: 600;
              font-size: 1.6rem;
              line-height: 150%;
              color: $blue;
              display: inline-block;
              width: 20%;
            }
          }
          &-services {
            font-family: 'Montserrat';
            font-size: 1.8rem;
            line-height: 129.5%;
            color: $fzAll;
            font-weight: 400;
            & span {
              font-weight: 600;
              font-size: 1.6rem;
              line-height: 150%;
              color: $blue;
              display: inline-block;
              width: 20%;
            }
          }
        }
        &-info {
          box-shadow: none;
          padding: 0;
          width: 60.7%;
          margin-top: 1rem;
          &-data {
            margin-bottom: 0;
            &-reating {
              &-subtitle {
                margin-bottom: 2.9rem;
              }
              &-number {
                margin-bottom: 2rem;
              }
              &-stars {
                margin-bottom: 2.7rem;
              }
            }
          }
          &-advantages {
            margin-bottom: 2.5rem;
          }
          &-flaws {
            margin-bottom: 2.3rem;
          }
          &-comments {
            position: relative;
            &-text {
              margin-bottom: 2rem;
              padding-right: 20rem;
              position: relative;
            }
            &-number {
              position: absolute;
              right: 0rem;
              bottom: 2rem;
              font-family: 'Montserrat';
              font-weight: 500;
              font-size: 1.6rem;
              line-height: 110%;
              color: rgba(51, 51, 51, 0.5);
            }
            &-more {
              &::after {
                transform: translateY(-50%) rotate(90deg);
              }
            }
            &-dropdown {
              &-btn {
                font-family: 'MyriadPro';
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 122%;
                color: $blue;
                position: absolute;
                left: 17rem;
                bottom: 0rem;
                cursor: pointer;
                &::after {
                  transform: translateY(-50%) rotate(90deg);
                }
                &::before {
                  content: 'Показать ответ';
                  left: 0rem;
                  white-space: nowrap;
                }
                &.active {
                  position: relative;
                  left: 0;
                  bottom: 0;
                }
                &.active::after {
                  transform: translateY(-50%) rotate(-90deg);
                }
                &.active::before {
                  content: 'Скрыть ответ';
                }
              }
              &-content {
                position: relative;
                display: none;
                margin-top: 5.2rem;
                margin-bottom: 2.3rem;
                &::after {
                  top: -2.5rem;
                  left: 0rem;
                  position: absolute;
                  content: '';
                  width: 100%;
                  height: 1px;
                  background-color: #eef3f7;
                }
                &-data {
                  display: flex;
                  align-items: center;
                  margin-bottom: 4rem;
                  &-img {
                    width: 7.2rem;
                    height: 7.2rem;
                    border-radius: 50%;
                    border: 0.2rem solid $blue;
                    box-sizing: border-box;
                    margin-right: 3rem;
                    & img {
                      width: 100%;
                      height: 100%;
                      object-fit: contain;
                      border-radius: 50%;
                    }
                  }
                  &-name {
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-size: 2.5rem;
                    line-height: 110%;
                    & span {
                      display: block;
                      margin-top: 0.5rem;
                      font-size: 1.6rem;
                      line-height: 150%;
                      color: rgba(51, 51, 51, 0.5);
                    }
                  }
                }
                &-text {
                  font-family: 'Montserrat';
                  font-size: 1.8rem;
                  line-height: 150%;
                  padding-right: 15rem;
                }
                &-number {
                  position: absolute;
                  bottom: -5.3rem;
                  right: 0rem;
                  font-family: 'Montserrat';
                  font-weight: 500;
                  font-size: 1.6rem;
                  line-height: 110%;
                  color: rgba(51, 51, 51, 0.5);
                }
                &.active {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
  &-otzivi2 {
    margin-bottom: 0;
    .reviews {
      &__item {
        &:not(:last-child) {
          margin-bottom: 6.2rem;
        }
      }
    }
  }
  .swiper-pagination {
    position: static;
    transform: none;
  }
}

@media (max-width: 48em) {
  .reviews {
    margin-bottom: 16rem;
    .swiper-container {
      margin-bottom: 6.4rem;
    }
    &__inner {
      position: relative;
    }
    &__subtitle {
      margin-bottom: 1.6rem;
    }
    &__header {
      margin-bottom: 6.4rem;
    }
    &__item {
      flex-direction: column;
      row-gap: 3.2rem;
      &-img {
        width: 100%;
        height: 16.8rem;
        margin: 0rem;
        &-photo {
          & img {
            object-fit: contain;
          }
        }
        &-info {
          left: auto;
          right: 0.8rem;
          padding: 1.6rem 2.4rem;
          width: 42.4rem;
          bottom: 0.8rem;
          &-name {
            margin-bottom: 0.8rem;
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 113%;
          }
          &-text {
            font-size: 2.4rem;
            color: #2f2f2f;
          }
          &-reating {
            margin-bottom: 0.8rem;
            order: -1;
            flex-direction: row-reverse;
            align-self: flex-start;
            justify-content: flex-end;
            column-gap: 2.4rem;
            &-star {
              margin: 0;
              width: 3.5rem;
              height: 3.5rem;
            }
            &-number {
              font-size: 5rem;
              line-height: 100%;
            }
          }
        }
      }
      &-info {
        width: 100%;
        padding: 3.2rem 4rem;
        box-shadow: 0 4rem 18rem rgba(124, 148, 159, 0.1);
        &-data {
          margin-bottom: 5rem;
          flex-direction: column;
          &-name {
            font-size: 3.6rem;
            row-gap: 0;
            margin-bottom: 1.6rem;
            & span {
              font-size: 2.6rem;
              font-weight: 400;
            }
          }
          &-reating {
            text-align: left;
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            column-gap: 2.2rem;
            &-wrap {
              column-gap: 2.4rem;
            }
            &-link {
              display: none;
            }
            &-subtitle {
              width: auto;
              text-align: left;
              margin-left: unset;
              margin-bottom: 0;
              order: 1;
              font-size: 3rem;
              margin-right: 0;
            }
            &-number {
              margin-bottom: 0;
              order: 3;
              font-size: 8rem;
              line-height: 100%;
            }
            &-stars {
              margin-bottom: 0;
              order: 2;
              .starall {
                width: 4rem;
                height: 4rem;
              }
            }
          }
        }
        &-advantages {
          margin-bottom: 5rem;
          &-subtitle {
            font-size: 2.6rem;
            margin-bottom: 1.5rem;
          }
          &-text {
            font-size: 2.64rem;
            & span {
              display: none;
            }
          }
        }
        &-flaws {
          margin-bottom: 4.6rem;
          &-subtitle {
            font-size: 2.6rem;
            margin-bottom: 1.5rem;
          }
          &-text {
            font-size: 2.64rem;
          }
        }
        &-comments {
          &-subtitle {
            font-size: 2.6rem;
            margin-bottom: 1.9rem;
          }
          &-text {
            font-size: 2.64rem;
            font-family: 'MyriadPro';
            line-height: 127%;
            margin-bottom: 6.4rem;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            margin-bottom: 3.5rem;
            display: -webkit-box;
            text-overflow: ellipsis;
          }
        }
      }
    }
    &__slider-control {
      margin-bottom: 6.4rem;
    }
    &__head {
      &-links {
        justify-content: space-between;
      }
      &-link {
        min-width: 37rem;
        min-height: 8.8rem;
      }
    }
  }
}
@media (min-width: 48em) {
  .reviews {
    .swiper-pagination-bullet {
      &:not(:last-child) {
        margin-right: 2.6rem;
      }
    }
    &__item-img-info {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item-img-info-name {
      grid-column: span 2;
    }
  }
}
