.s-direction {
    margin-bottom: 16rem;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 4rem;
    }

    &__title {
        color:  #2F2F2F;
        font-family: 'Montserrat',sans-serif;
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__price {
        display: flex;

        span {
            color:  rgba(51, 51, 51, 0.50);
            font-family: 'Myriad Pro',sans-serif;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 300;
            line-height: 150%;
            padding-right: 0.5rem;
        }

        strong {
            color:  #2F2F2F;
            font-family: 'Myriad Pro',sans-serif;
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 3.6rem;
            position: relative;
            padding-right: 2rem;
            &::before {
                position: absolute;
                content:'₽';
                right: 0;

            }
        }

    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__box {
        width: 45.8rem;
        max-width: 45.8rem;
        height: 17.4rem;
        position: relative;
        display: block;
        margin-bottom: 4rem;
        margin-right: 4rem;
    }

    &__box:nth-child(3n) {
        margin-right: 0;
    }

    &__box-block-image {
        position: absolute;
        z-index: 2;
        width: 13.4rem;
        height: 13.4rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items:center;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        border-radius: 50%;
        border: 0.2rem solid  #36B4F1;

    }

    &__box-image {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__box-content {
        width: 38.6rem;
        height: 16.4rem;
        background:  #FFF;
        box-shadow: 0px 2rem 6rem 0px rgba(124, 148, 159, 0.07);
        margin-left: auto;
        padding: 2rem;
        padding-left: 6rem;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    &__box-title {
        max-width: 24.5rem;
        color:  #2F2F2F;
        font-family: 'Myriad Pro',sans-serif;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 145.455%; 
    }

    &__div-btn {
        display: flex;
        justify-content: center;
        align-items:center;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    &__btn {
        color: #36B4F1;
        display: block;
        font-family: 'Myriad Pro',sans-serif;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        position: relative;
        padding-right: 2rem;
        &::before {
            position: absolute;
            content:'';
            width: 1rem;
            height: 1.6rem;
            top: 50%;
            transform: translate(0, -50%);
            right: 0;
            background-image: url(../img/d-image/icon/bluearrowdown.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }

}

@media (max-width: 48em) {
    .s-direction {
        &__wrapper {
            flex-direction: column;
        }

        &__box {
            width: 100%;
            max-width: 100%;
            height: 26rem;
            margin-bottom: 4rem;
            margin-right: 0;
        }

        &__box-content {
            height: 100%;
            width: 57rem;
        }

        &__box-block-image {
            width: 20rem;
            height: 20rem;
            border: 0.4rem solid #36B4F1;
        }

        &__box-title {
            font-size: 3.2rem;
            max-width: auto;
        }
    }

 }

