.search-page {
    margin-top: 12rem;
    margin-bottom: 18rem;
    .container {
        width: 107rem;
    }

    &__search {
        position: relative;
        margin-bottom: 5rem;
        &::before {
            position: absolute;
            content:'';
            background-image: url(../img/search.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 2.4rem;
            height: 2.4rem;
            top: 50%;
            transform: translate(0, -50%);
            left: 1.5rem;
        }
        input {
            border-radius: 1rem;
            border: 0.1rem solid #D8DDE4;
            background: none;
            padding-left: 5.4rem;
            padding-top: 1.3rem;
            padding-bottom: 1.3rem;  
        }
      input[type="search"]::-webkit-search-decoration,
      input[type="search"]::-webkit-search-cancel-button,
      input[type="search"]::-webkit-search-results-button,
      input[type="search"]::-webkit-search-results-decoration {
      display: none;
      }
    }

    &__btn {
        position: absolute;
        display: flex;
        width: 17.2rem;
        height: 4rem;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-shrink: 0;
        border-radius: 0.8rem;
        background:  #36B4F1;
        color:  #FFF;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        top: 50%;
        transform: translate(0, -50%);
        right: 0.5rem;


        svg {
            display: none;
        }
        
    }

    &__result {
        display: flex;
        align-items:center;
        margin-bottom: 5rem;
    }

    &__result-text {
        font-family: 'Montserrat';
        color:  #2F2F2F;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-right: 2.2rem;
    }

    &__result-number {
        color:  #36B4F1;
        font-family: 'Montserrat';

        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 152%;
    }

    &__box {
        padding: 5rem;
        border-radius: 1rem;
        background:  #FFF;
        box-shadow: 0px 2rem 6rem 0px rgba(124, 148, 159, 0.10);
        margin-bottom: 4rem;
    }

    &__box:last-child {
        margin-bottom: 0;
    }

    &__box-inner {
        display: flex;
        align-items:center;
        margin-bottom: 2.1rem;
    }

    &__box-number {
        color:  #36B4F1;
        font-family: 'Montserrat',sans-serif;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 128% ;
        margin-right: 3rem;
    }

    &__box-title {
        color:  #2F2F2F;
        font-family: 'Montserrat',sans-serif;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 3.2rem;

        a {
            color:  #36B4F1;
        }
    }

    &__box-text {
        padding-left: 5.3rem;
        color:  rgba(51, 51, 51, 0.50);
        font-family: 'Montserrat';
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        a {
            color:  #36B4F1;
        }
    }

    &__search-down {
        border: 0.1rem solid #D8DDE4;
      background:  #FFF;
      position: absolute;
      z-index: 2;
      width: 100%;
      padding-top: 2.7rem;
      padding-bottom: 2rem;
      display: none;
     
    }

    &__search-down-lists {
       
    }

    &__error {
        color:  #2F2F2F;
        text-align: center;
        font-family: 'Montserrat',sans-serif;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        width: 58.6rem;
        margin: 0 auto;
        display: none;
    }

    &__search-down-lists-item {
        padding-left: 1.9rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      color:  rgba(51, 51, 51, 0.50);
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem;
      max-width: 99.9rem;
      margin-bottom: 2rem;
      transition: background 0.2s ease;
      cursor: pointer;
      &:hover {
         transition: background 0.2s ease;
         background:  #EEF3F7;
      }

      span {
        color:  #36B4F1;
        font-weight: 600;
      }
    }
}


    
@media (max-width: 48em) {
    .search-page {
        margin-top: 4.2rem;
        .container {
            width: 100%;
        }

        &__search {
            &::before {
                display: none;
            }
            input {
                padding-top: 2.6rem;
                padding-bottom: 2.6rem;
                padding-left: 3.2rem;
                font-size: 3rem;
                font-style: normal;
                font-weight: 400;
                line-height: 100%; 
            }
        }

        &__btn {
            font-size: 0;
            height: 100%;
            right: 0;
            width: 10.8rem;
            display: flex;
            justify-content: center;
            align-items:center;
            svg {
                display: block;
                width: 4rem;
                height: 4rem;
            }
            
        }

        &__result {
            margin-bottom: 8rem;
        }

        &__result-text {
           
            font-size: 3.2rem;
            
        }

        &__result-number {
            font-size: 4rem;
            font-style: normal;
            font-weight: 500;
        }

        &__box {
            padding: 4rem;
            margin-bottom: 4.8rem;
        }

        &__box-inner {
            margin-bottom: 4.2rem;
        }

        &__box-number {
            font-size: 3.6rem;
            margin-right: 2.4rem;
        }

        &__box-title {
            font-size: 3.6rem;
            display: flex;
            flex-wrap: wrap;

            a {
                margin-right: 0.5rem;
            }
        }

        &__box-text {
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 400;
        }


        .g-pagination {
            display: none;
        }
    }
 }
