<section class="about-the-s">
    <div class="container">
        <div class="about-the-s__wrapper">
            <div class="about-the-s__left">
                <div class="about-the-s__title">Подробная информация об услуге</div>
                <ul class="about-the-s__sidebar">
                    <li class="about-the-s__item">
                        Об услуге
                    </li>
                    <li class="about-the-s__item">
                        Оборудование
                    </li>
                    <li class="about-the-s__item">
                        Преимущества направления
                    </li>
                </ul>
            </div>
            <div class="about-the-s__right">
                <div class="about-the-s__content">
                        <h3>О направлении</h3>
                        <p>Одним из самых информативных и достоверных способов лабораторной диагностики является биохимический анализ крови. Результаты такого исследования, цена которого доступна для любого пациента, используют практически во всех областях медицины, включая кардиологию, гастроэнтерологию, гинекологию, урологию, онкологию и т.д. Врач может порекомендовать пройти обследование и в профилактических целях.</p>
                        <p>Сдать кровь на биохимический и другие анализы крови в Москве вы всегда можете в медицинской клинике НАКФФ (лаборатория нашей клиники выполняет более 1200 видов исследований). Располагая современным лабораторным оборудованием и значительным опытом диагностики, мы обеспечиваем быстрые сроки изучения биоматериала, точность результатов и полную безопасность для пациента.Чтобы создать максимально комфортные условия для своих клиентов, мы предоставляем возможность сделать забор крови и вне клиники. По вашему желанию, выездная бригада подъедет по указанному вами адресу, а узнать результат исследования вы сможете через онлайн-сервис. Стоимость услуги зависит от типа исследования.</p>
                </div>
            </div>
        </div>
    </div>
</section>