<section class="leave-contacts">
    <div class="container">
        <div class="leave-contacts__wrapper">
            <div class="leave-contacts__left">
                <div class="leave-contacts__title">-40% на КТ исследование</div>
                <div class="leave-contacts__circle">
                    <svg  viewBox="0 0 302 302" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="151" cy="151" r="150.5" stroke="#D8DDE4"/>
                        </svg>
                        
                </div>
                <div class="leave-contacts__inner">
                    <div class="leave-contacts__text">Высококлассное оборудование</div>
                    <div class="leave-contacts__bonus">Бонус</div>
                </div>
            </div>
            <div class="leave-contacts__image">
                <img src="./img/d-image/leave-contacts/img.webp" alt="">
            </div>
            <div class="leave-contacts__right">
                <form action="" class="leave-contacts__form">
                    <div class="leave-contacts__form-title">
                        Оставьте контакты
                    </div>
                    <label class="leave-contacts__form-label">
                        <input type="tel" placeholder="Номер телефона">
                    </label>
                    <button class="btn"><span>Отправить заявку</span></button>
                </form>
                <div class="leave-contacts__form-policy">
                    *Нажимая кнопку «Заказать обратный звонок»<br>,вы соглашаетесь с обработкой своих персональных данных.
                </div>
            </div>
        </div>
    </div>
</section>