<div id="datepicker-modal" aria-hidden="true" class="datepicker-modal popup">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__head">
        <button data-close type="button" class="popup__close"><img src="./img/a-image/icons/cross.svg" aria-hidden="true" alt=""></button>
      </div>
      <form action="#" class="datepicker-modal__form">
        <span class="datepicker-modal__title">Выберите время и дату</span>
        <div id="datepicker"></div>
        <div class="datepicker-modal__field">
          <label for="pick-time-field" class="datepicker-modal__label">Выберите время записи</label>
          <div class="datepicker-modal__input-wrap"><input id="pick-time-field" type="number" placeholder="09:11" class="datepicker-modal__input"></div>
        </div>
        <div class="datepicker-modal__actions">
          <button type="button" class="datepicker-modal__head-back link">Назад</button>
          <button type="submit" class="datepicker-modal__btn btn">Готово</button>
        </div>
      </form>
			</div>
    </div>
  </div>
</div>