<section class="recording-site">
    <div class="container container--d">
        <div class="recording-site__wrapper">
            <div class="recording-site__title">Запишись через сайт<br> 
                на комплекс услуг по акции </div>
            <div class="recording-site__inner">
                <div class="recording-site__price-g">6000</div>
                <div class="recording-site__price">5200</div>
                <div class="recording-site__sale">
                    <div class="recording-site__sale-price">
                        - 1200 руб
                    </div>
                </div>
                <button class="btn"><span>Записаться на комплекс</span></button>
            </div>
            <div class="recording-site__min-title">
                В комплекс входит:
            </div>
            <ul class="recording-site__lists">
                <li>УЗИ молочных желез</li>
                <li>Мазок-отпечаток выделений из соска, соскоб с образования кожи, биопсия и пункция опухолевого образования</li>
                <li>Пункционная биопсия щитовидной железы, молочной железы, лимфатических узлов, поверхностных структур</li>
                <li>Пункционная биопсия щитовидной железы, молочной железы, лимфатических узлов, поверхностных структур</li>
                <li>Компьютерная томография</li>
            </ul>
        </div>
        <div class="recording-site__block-image">
            <div class="recording-site__image">
                <img src="./img/d-image/tel.webp" alt="">
            </div>
        </div>
    </div>
    <div class="container container--mob">
        <div class="recording-site__wrapper">
            <div class="recording-site__title">Запишись через сайт 
                на комплекс услуг<br> по акции </div>
            <div class="recording-site__service">
                <span>Комплекс услуг по акции</span>
            </div>
            <ul class="recording-site__lists">
                <li>УЗИ молочных желез</li>
                <li>Мазок-отпечаток выделений из соска, соскоб с образования кожи, биопсия и пункция опухолевого образования</li>
                <li>Пункционная биопсия щитовидной железы, молочной железы, лимфатических узлов, поверхностных структур</li>
                <li>Пункционная биопсия щитовидной железы, молочной железы, лимфатических узлов, поверхностных структур</li>
                <li>Компьютерная томография</li>
            </ul>
            <div class="recording-site__inner">
                <div class="recording-site__price-g">6000</div>
                <div class="recording-site__price">5200</div>
                <div class="recording-site__sale">
                    <div class="recording-site__sale-price">
                        - 1200 руб
                    </div>
                </div>
                
            </div>
            <div class="recording-site__time">Акция действует до 15 числа.</div>

            <button class="btn"><span>Заказать</span></button>

            <div class="recording-site__block-image">
                <div class="recording-site__image">
                    <img src="./img/d-image/tel.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</section>