@import './blocks/color';
@import './general/fonts';
@import './general/set';
@import './general/general';
@import './blocks/header';
@import './blocks/baner';
@import './blocks/solution';
@import './blocks/info';
@import './blocks/services';
@import './blocks/doctor';
@import './blocks/person';
@import './blocks/centers';
@import './blocks/progress';
@import './blocks/reviews';
@import './blocks/call';
@import './blocks/extra';
@import './blocks/popular';
@import './blocks/story';
@import './blocks/new-clinic';
@import './blocks/licenzia';
@import './blocks/podgotovka';
@import './blocks/benifits';
@import './blocks/values';
@import './blocks/about';
@import './blocks/citation';
@import './blocks/allDoctors';
@import './blocks/team';
@import './blocks/information';
@import './blocks/offer';
@import './blocks/price-list';
@import './blocks/procedures';
@import './blocks/big-info';
@import './blocks/disease';
@import './blocks/selects';
@import './blocks/complex-program';
@import './blocks/question';
@import './blocks/consultation';
@import './blocks/sertificates';
@import './blocks/payment';
@import './blocks/other-centers';
@import './blocks/search';
@import './blocks/zapis';
@import './blocks/korzina';
@import './blocks/record';
@import './blocks/rezume';
@import './blocks/phone';
@import './blocks/vakansii';
@import './blocks/applicants';
@import './blocks/useful';
@import './blocks/comments';
@import './blocks/define';
@import './blocks/hurts';
@import './blocks/no-content';
@import './blocks/recording';
@import './blocks/advertising';
@import './blocks/command';
@import './blocks/footer';
@import './blocks/profile';
@import './blocks/forms';
@import './blocks/appointment';
@import './blocks/search-page';
@import './general/d-elements';
@import './blocks/superior';
@import './blocks/awards';
@import './blocks/offers';
@import './blocks/doctors';
@import './blocks/text-image';
@import './blocks/programs';
@import './blocks/text-block';
@import './blocks/program-prices';
@import './blocks/other-programs';
@import './general/a-elements';
@import './general/t-elements';
@import './blocks/popups';
@import './blocks/all-doctors';
@import './blocks/all-reviews';

@import './blocks/services-page';
@import './blocks/offer-banner';
@import './blocks/blue-banner';
@import './blocks/recording-site';
@import './blocks/steps';
@import './blocks/doctors-hero';
@import './blocks/our-doctors';
@import './blocks/all-services';
@import './blocks/application-form';
@import './blocks/s-direction';
@import './blocks/leave-contacts';
@import './blocks/about-the-s';

@import './blocks/quote';
@import './blocks/part-team';
@import './blocks/pages';

@import './blocks/patients-stocks-page';
@import './blocks/patients-information-page';
@import './blocks/finished-resume';
@import './blocks/vacancy-page';
@import './blocks/vacancy-details-page';
@import './blocks/information-for-applicants';
@import './blocks/diseases-details-page';
@import './blocks/questions-accordion';
@import './blocks/patients-cards-page';
@import './blocks/patients-page';
@import './blocks/patients-preparation';
@import './blocks/diseases-card';

@import './blocks/sl-reviews';
@import './blocks/services-parent';
@import './blocks/similar-services';
@import './blocks/detailed-services';
@import './blocks/d-services-prices';
@import './blocks/empty-services';

@import './general/dim-elements.scss';
@import './blocks/subscribe-block.scss';
@import './blocks/news.scss';
@import './blocks/news-article.scss';
@import './blocks/news-other.scss';
@import './blocks/socials.scss';
@import './blocks/news-descs.scss';
@import './blocks/blog-card.scss';
@import './blocks/rec-materials.scss';
@import './blocks/blog-cards.scss';
@import './blocks/blog-search.scss';
@import './blocks/blog-descs.scss';
@import './blocks/blog-man.scss';
@import './blocks/blog-desc.scss';
@import './blocks/comments-2.scss';
@import './blocks/leave-comment.scss';
@import './blocks/diseases-doctors.scss';
@import './blocks/contacts-center.scss';
@import './blocks/feedback-center.scss';
@import './blocks/d-center.scss';
@import './blocks/get-there.scss';


#ui-datepicker-div {
  display: block !important;
  width: 43rem;
  height: 40rem;
}

.ui-datepicker-trigger {
  display: none;
}

#ui-datepicker-div {
  display: block !important;
  width: 43rem;
  height: 40rem;
}

.ui-datepicker-trigger {
  display: none;
}
