@import './blocks/color';
@import './general/fonts';
@import './general/set';
@import './general/general';
@import './blocks/header';
@import './blocks/baner';
@import './blocks/solution';
@import './blocks/info';
@import './blocks/services';
@import './blocks/doctor';
@import './blocks/person';
@import './blocks/centers';
@import './blocks/progress';
@import './blocks/reviews';
@import './blocks/call';
@import './blocks/extra';
@import './blocks/popular';
@import './blocks/story';
@import './blocks/new-clinic';
@import './blocks/licenzia';
@import './blocks/all-news';
@import './blocks/podgotovka';
@import './blocks/benifits';
@import './blocks/values';
@import './blocks/about';
@import './blocks/citation';
@import './blocks/allDoctors';
@import './blocks/team';
@import './blocks/information';
@import './blocks/offer';
@import './blocks/price-list';
@import './blocks/procedures';
@import './blocks/big-info';
@import './blocks/disease';
@import './blocks/selects';
@import './blocks/complex-program';
@import './blocks/question';
@import './blocks/consultation';
@import './blocks/sertificates';
@import './blocks/payment';
@import './blocks/other-centers';
@import './blocks/search';
@import './blocks/zapis';
@import './blocks/korzina';
@import './blocks/record';
@import './blocks/rezume';
@import './blocks/phone';
@import './blocks/vakansii';
@import './blocks/applicants';
@import './blocks/useful';
@import './blocks/comments';
@import './blocks/define';
@import './blocks/hurts';
@import './blocks/no-content';
@import './blocks/recording';
@import './blocks/advertising';
@import './blocks/command';
@import './blocks/footer';
@import './blocks/modal';
@import './blocks/profile';
@import './blocks/forms';
@import './blocks/appointment';
@import './blocks/search-page';
@import './general/d-elements';
@import './blocks/superior';
@import './blocks/awards';
@import './blocks/offers';
@import './blocks/services-page';
@import './blocks/offer-banner';
@import './blocks/blue-banner';
@import './blocks/recording-site';

#ui-datepicker-div {
  display: block !important;
  width: 43rem;
  height: 40rem;
}

.ui-datepicker-trigger {
  display: none;
}

#ui-datepicker-div {
  display: block !important;
  width: 43rem;
  height: 40rem;
}

.ui-datepicker-trigger {
  display: none;
}
